@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

.page a {
    text-decoration: underline;
}

#contactBloc {
    height: 40px;
}

#home, #noSliderWrapper {
    background: none;
}

.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

ul.list-normal, ol.list-normal {
    padding-left: 20px;
    text-align: justify
}
ul.list-normal li, ol.list-normal li {
    padding: 2px 5px 2px 5px;
}
ul.list-normal li ul, ol.list-normal li ul {
    padding-left: 40px;
}

ul.iconList.list-unstyled li {
    position: relative;
    padding-left: 24px;
}
ul.iconList.list-unstyled li:before {
    position: absolute;
    top: 13px;
    left: 5px;
}
ol.ordered-list {
    margin-left: 30px;
}

blockquote.no-quote:before {
    display: none;
}

.text-justify {
    text-align: justify;
}

.color2, .slice.color2, .bulle.color2, .ctaBox.color2 {
    background-color: #e93e34;
}

/*header
================================================== */
.header1 #mainHeader {
    background: url('../images/theme-pics/textures/background_stripes.jpg') 0 0 repeat;
}
.navbar-brand img {
    max-width: 200px;
}
body.header1 {
    padding-top: 90px;
}
@media(min-width:768px){
    body.header1 {
        padding-top: 136px;
    }
    .navbar-brand img {
        /*padding-top: 8px;*/
    }
        .navbar-nav > li > a {
            line-height: 51px;
        }
    .header1 .navbar-nav ul {
        top: 96px;
        width: 180px;
        background: url('../images/theme-pics/textures/background_stripes.jpg') 0 0 repeat;
        border: solid 1px #e6e6e6;
    }
}
@media(min-width:768px) and (max-width:991px) {
    #menu-main-menu > li:last-child > a {display:none;}
}
@media(min-width:768px) {
    #menu-contact {display:none}
}


/* footer */
footer {
    border-top: 1px solid #d6d6d6;
    padding: 54px 0 0 0;
    background: url('../images/theme-pics/textures/background_stripes.jpg') 0 0 repeat;
}

footer .newsletterForm .btn {
    padding: 9px 20px;
}

footer h1, footer h2, footer h3, footer h4 {
    color: #666;
}
footer h2 {
    text-transform: none;
}

footer hr {
    border-color: #333;
    margin-bottom: 40px;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}

#footerRights {
    padding: 3px;
}

footer .borderList > li > a {
    color: #666;
}

.footerCTA h3 {
    margin-bottom: 0px;
}

.footerCTA .btn {
    padding: 9px 20px;
}

.footerCTA {
    padding-bottom: 30px;
}

.form-control {
    border-radius: 0px;
    background-color: #fff;
}

.form-control:focus {
    background-color: #fff;
}

.form-control::-moz-placeholder {
    color: #999;
    font-weight: 300;
}
.form-control:-ms-input-placeholder {
    color: #999;
    font-weight: 300;
}
.form-control::-webkit-input-placeholder {
    color: #999;
    font-weight: 300;
}

.btn {
    border-radius: 0px;
}

.btn-info {
    background: #e93e34;
    border-color: #c5332b;
    border-bottom: 4px solid #c5332b;
}
.btn-info:hover {
    border-bottom: 4px solid #3D93AC;
}
.btn-more {
    background: #e93e34;
    border-color: #c5332b;
}

.well {
    border-radius: 0px;
    background-color: #5e5e5e;
    color: #fff;
}
.well .form-control {
    background-color: #FFF;
}
.color3 {
    background: #e93e34;
}
.color3, .slice.color3, .bulle.color3, .ctaBox.color3{
    background-color:#e93e34;
    color:#fff;
}
.color3 h1, .color3 h2, .color3 h3, .color3 h4, .color3 blockquote, .color3 a{
    color:#fff;
}
/*navbar*/
.navbar button {
    font-weight: 500;
    font-size: 16px;
}

/*hero*/
.gm_hero {
    position: relative;
    margin-bottom: 40px;
}

.gm_hero img {
    margin: 0px auto;
}

.gm_hero_3, .gm_hero_2 {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

@media (min-width: 1200px) {

    .gm_hero_3, .gm_hero_2 {
        left: 100px;
    }

}

/* VIDEO
================================================== */
#s2s_video {
    background: #fff;
    padding-bottom: 66px;
}
#s2s_video .title {
    /*background: #e8e8e8;*/
    border-bottom: none;
}
.s2s_video_wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.s2s_video_wrapper .s2s_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
}
#s2s_video p {
    text-align: justify;
}


/* SLIDERS
================================================== */
/*** supersized ***/
#superSizedSlider {
    text-align: left;
}
#superSizedSlider h1 {
    color:#333;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    margin-top: 10%;
    font-size: 88px;
    padding: 44px 33px 33px 0px;
}
#superSizedSlider h1 a {
    text-align: left;
    background: #e93e34;
    border-color: #c5332b;
    border-bottom: 4px solid #c5332b;
    font-family: 'Oswald',sans-serif;
    font-style: normal;
    letter-spacing: 0.1em;
}

/*OWL Carousel*/
.owl-theme .owl-controls, .owl-theme .owl-controls .owl-pagination {
    text-align: center !important;
}

.owl-theme .owl-controls .owl-page span {
    background:#fff;
    border: solid 1px #000;
}

.owl-theme .owl-controls .owl-page.active span {
    background:#000 !important;
}

.owl-theme .owl-controls .owl-buttons div, .owl-theme .owl-controls .owl-buttons div:hover {
    background: #e93e34;
}

.owl-carousel article img {
    margin: auto;
}

/*home page*/
#paralaxSlice1 blockquote:before,#paralaxSlice1 blockquote:after,#paralaxSlice1 small:before {
    content: '';
}
#paralaxSlice1 {
    background-image: url('../images/theme-pics/textures/dark.jpg');
}
#paralaxSlice1 small {
    display: inline;
    padding-top: 10px;
}
#clientCarousel {
    padding-top: 20px;
}
#clients {
    background: #fff;
}
#clients img {
    padding: 10px;
}
#clients .title {
    border: none;
}
#s2s_info {
    background: #ededed;
}
#s2s_info hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
    margin: 1em 0;
    padding: 0;
}
#s2s_info p {
    text-align: justify;
}
#s2s_cta {
    background: #fff;
}
#s2s_erp_integration {
    background: #fff;
}
#s2s_erp_integration .title{
    border: none;
}
#s2s_erp_integration article {
    border: solid 1px #F7F7F7;
    margin-bottom: 15px;
}
#s2s_info_anchor div article h2 {
    letter-spacing: 1.1px;
}

/*sidebar*/
nav#subnav {
    background: none;
    border-bottom: none;
}
nav#subnav ul li {
    line-height: 7px;
}
nav#subnav ul li a:hover {
    background: #538BAF;
    color: #fff;
}

nav#subnav ul li a {
    text-decoration: none;
    text-transform: none;
    padding: 7px 10px;
}
/*nav#subnav ul li a:hover {*/
    /*background: none;*/
    /*color: #538BAF;*/
/*}*/
nav#subnav ul li a i {
    margin-top: -3px;
}

/*lvl 2 nav*/
nav#subnav > ul > li > ul {
    padding-left: 10px;
}
nav#subnav > ul > li > ul > li {
    line-height: 7px;
}
nav#subnav > ul > li > ul > li > a {
    padding: 7px 10px;
}

body {font-family: 'Roboto', sans-serif;}
a, .color1 a {color: #e93e34}
h1, h2, h3, h4, h5, h6, legend {
    font-family: 'Roboto', sans-serif;
}
h1 {font-weight: 300;}
hr {margin: 3em 0;}

.lead {font-size: 20px; font-weight: 300;}

.boxTestimonial blockquote.no-quote {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.ctaBox a.btn {
    text-decoration: none;
}

@media (min-width: 768px) {
    h1 {
        font-size: 41px;
        line-height: 41px;
    }
}

/*---- Missing WP Editor CSS ----*/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/*  Extend Bootstrap grid classes col-xxs */
.visible-xxs {
     display: none!important;
 }
@media (max-width: 525px) {
    .col-xxs-12 {
        float: none;
        width: 100%;

        position: relative; left: 0; right: 0;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .hidden-xxs {
        display: none!important;
    }
    .visible-xxs {
        display: block!important;
    }
}

@media (max-width: 525px) {
    .col-xxs-6 {
        float: left;
        width: 50%;

        position: relative; left: 0; right: 0;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .hidden-xxs {
        display: none!important;
    }
    .visible-xxs {
        display: block!important;
    }
}