{{ define "main" }}
<div class="wrapper">
	{{- partial "header.html" . -}}

	<div class="hero hero--size5 hero--size5-alt">
	    <div class="container">
	        <article class="article">
	            <div class="row align-items-center">
	                <div class="col-lg-12">
	                    <div class="article__content article__content--primary">
	                        <h1>{{ if .Params.heading }}{{ title .Params.heading }}{{ else }}{{ title .Title }}{{ end }}</h1>
	                        
	                        <p>
	                        	{{ .Params.Lead }}
	                        </p>
	                    </div><!-- /.article__content -->
	                </div><!-- /.col-md- offset-md- -->
	            </div><!-- /.row -->
	        </article><!-- /.article -->
	    </div><!-- /.container -->
	</div><!-- /.hero -->

	<section class="section section--teritary">
		<div class="container">
			<div class="accordions accordions--primary">
				<div class="accordion accordion--primary">
					<div class="accordion__head">
						<h4>Accounting/ERP System</h4>
					</div><!-- /.accordion__head -->

					<div class="accordion__body">
						<div class="widget-data-alt">
							<ul class="widget__item">
								<li>
									<h5>Accounting/ERP System</h5>
								</li>
							
								<li>
									<p>Connectors info</p>
								</li>
							</ul><!-- /.widget__item -->

							<ul class="widget__item">
								<li>
									<h5>Sales Channel</h5>
								</li>
							
								<li>
									<p>
										Connectors info

										<i class="ico-x ico-x--gray"></i>
									</p>
									
									<p>
										Connectors info

										<i class="ico-x ico-x--red"></i>
									</p>
									
									<p>
										Connectors info

										<i class="ico-x ico-x--gray"></i>
									</p>
									
									<p>
										Connectors info

										<i class="ico-x ico-x--gray"></i>
									</p>
								</li>
							</ul><!-- /.widget__item -->

							<ul class="widget__item">
								<li>
									<h5>Fulfilment Service</h5>
								</li>
							
								<li>
									<p>
										Connectors info
									</p>
								</li>
							</ul><!-- /.widget__item -->

							<ul class="widget__item">
								<li>
									<h5>SKU</h5>
								</li>
							
								<li>
									<p>
										Connectors info
									</p>
								</li>
							</ul><!-- /.widget__item -->

							<ul class="widget__item widget__item--alt">
								<li>
									<h2>
										<span>Once-off Setup Fee</span>
							
										R15,000
									</h2>
								</li>
							
								<li>
									<h2>
										<span>Monthly Recurring Fee</span>
							
										R5,000
									</h2>
								</li>
							</ul><!-- /.wiget__item -->

							<p class="widget__hint">
								*This is an estimation / rough guide on the costs and is not an official cost.
							</p><!-- /.widget__hint -->

							<div class="widget__actions">
								<a href="#" class="btn btn--medium">Request Demo</a>
							</div><!-- /.widget__actions -->
						</div><!-- /.widget-data-alt -->
					</div><!-- /.accordion__body -->
				</div><!-- /.accordion -->

				<div class="accordion accordion--primary">
					<div class="accordion__head">
						<h4>Sales Channel</h4>
					</div><!-- /.accordion__head -->

					<div class="accordion__body">
						<div class="widget-data-alt">
							<ul class="widget__item">
								<li>
									<h5>Accounting/ERP System</h5>
								</li>
							
								<li>
									<p>Connectors info</p>
								</li>
							</ul><!-- /.widget__item -->

							<ul class="widget__item">
								<li>
									<h5>Sales Channel</h5>
								</li>
							
								<li>
									<p>
										Connectors info

										<i class="ico-x ico-x--gray"></i>
									</p>
									
									<p>
										Connectors info

										<i class="ico-x ico-x--red"></i>
									</p>
									
									<p>
										Connectors info

										<i class="ico-x ico-x--gray"></i>
									</p>
									
									<p>
										Connectors info

										<i class="ico-x ico-x--gray"></i>
									</p>
								</li>
							</ul><!-- /.widget__item -->

							<ul class="widget__item">
								<li>
									<h5>Fulfilment Service</h5>
								</li>
							
								<li>
									<p>
										Connectors info
									</p>
								</li>
							</ul><!-- /.widget__item -->

							<ul class="widget__item">
								<li>
									<h5>SKU</h5>
								</li>
							
								<li>
									<p>
										Connectors info
									</p>
								</li>
							</ul><!-- /.widget__item -->

							<ul class="widget__item widget__item--alt">
								<li>
									<h2>
										<span>Once-off Setup Fee</span>
							
										R15,000
									</h2>
								</li>
							
								<li>
									<h2>
										<span>Monthly Recurring Fee</span>
							
										R5,000
									</h2>
								</li>
							</ul><!-- /.wiget__item -->

							<p class="widget__hint">
								*This is an estimation / rough guide on the costs and is not an official cost.
							</p><!-- /.widget__hint -->

							<div class="widget__actions">
								<a href="#" class="btn btn--medium">Request Demo</a>
							</div><!-- /.widget__actions -->
						</div><!-- /.widget-data-alt -->
					</div><!-- /.accordion__body -->
				</div><!-- /.accordion -->

				<div class="accordion accordion--primary">
					<div class="accordion__head">
						<h4>Fulfilment Service</h4>
					</div><!-- /.accordion__head -->

					<div class="accordion__body">
						<div class="widget-data-alt">
							<ul class="widget__item">
								<li>
									<h5>Accounting/ERP System</h5>
								</li>
							
								<li>
									<p>Connectors info</p>
								</li>
							</ul><!-- /.widget__item -->

							<ul class="widget__item">
								<li>
									<h5>Sales Channel</h5>
								</li>
							
								<li>
									<p>
										Connectors info

										<i class="ico-x ico-x--gray"></i>
									</p>
									
									<p>
										Connectors info

										<i class="ico-x ico-x--red"></i>
									</p>
									
									<p>
										Connectors info

										<i class="ico-x ico-x--gray"></i>
									</p>
									
									<p>
										Connectors info

										<i class="ico-x ico-x--gray"></i>
									</p>
								</li>
							</ul><!-- /.widget__item -->

							<ul class="widget__item">
								<li>
									<h5>Fulfilment Service</h5>
								</li>
							
								<li>
									<p>
										Connectors info
									</p>
								</li>
							</ul><!-- /.widget__item -->

							<ul class="widget__item">
								<li>
									<h5>SKU</h5>
								</li>
							
								<li>
									<p>
										Connectors info
									</p>
								</li>
							</ul><!-- /.widget__item -->

							<ul class="widget__item widget__item--alt">
								<li>
									<h2>
										<span>Once-off Setup Fee</span>
							
										R15,000
									</h2>
								</li>
							
								<li>
									<h2>
										<span>Monthly Recurring Fee</span>
							
										R5,000
									</h2>
								</li>
							</ul><!-- /.wiget__item -->

							<p class="widget__hint">
								*This is an estimation / rough guide on the costs and is not an official cost.
							</p><!-- /.widget__hint -->

							<div class="widget__actions">
								<a href="#" class="btn btn--medium">Request Demo</a>
							</div><!-- /.widget__actions -->
						</div><!-- /.widget-data-alt -->
					</div><!-- /.accordion__body -->
				</div><!-- /.accordion -->

				<div class="accordion accordion--primary">
					<div class="accordion__head">
						<h4>Select SKU</h4>
					</div><!-- /.accordion__head -->

					<div class="accordion__body">
						<div class="widget-data-alt">
							<ul class="widget__item">
								<li>
									<h5>Accounting/ERP System</h5>
								</li>
							
								<li>
									<p>Connectors info</p>
								</li>
							</ul><!-- /.widget__item -->

							<ul class="widget__item">
								<li>
									<h5>Sales Channel</h5>
								</li>
							
								<li>
									<p>
										Connectors info

										<i class="ico-x ico-x--gray"></i>
									</p>
									
									<p>
										Connectors info

										<i class="ico-x ico-x--red"></i>
									</p>
									
									<p>
										Connectors info

										<i class="ico-x ico-x--gray"></i>
									</p>
									
									<p>
										Connectors info

										<i class="ico-x ico-x--gray"></i>
									</p>
								</li>
							</ul><!-- /.widget__item -->

							<ul class="widget__item">
								<li>
									<h5>Fulfilment Service</h5>
								</li>
							
								<li>
									<p>
										Connectors info
									</p>
								</li>
							</ul><!-- /.widget__item -->

							<ul class="widget__item">
								<li>
									<h5>SKU</h5>
								</li>
							
								<li>
									<p>
										Connectors info
									</p>
								</li>
							</ul><!-- /.widget__item -->

							<ul class="widget__item widget__item--alt">
								<li>
									<h2>
										<span>Once-off Setup Fee</span>
							
										R15,000
									</h2>
								</li>
							
								<li>
									<h2>
										<span>Monthly Recurring Fee</span>
							
										R5,000
									</h2>
								</li>
							</ul><!-- /.wiget__item -->

							<p class="widget__hint">
								*This is an estimation / rough guide on the costs and is not an official cost.
							</p><!-- /.widget__hint -->

							<div class="widget__actions">
								<a href="#" class="btn btn--medium">Request Demo</a>
							</div><!-- /.widget__actions -->
						</div><!-- /.widget-data-alt -->
					</div><!-- /.accordion__body -->
				</div><!-- /.accordion -->
			</div><!-- /.accordions -->

			<div class="section__content">
				<h2>Support Pricing</h2>
			
				<p>
					At Stock2Shop, we want to help our clients succeed. We have created support plans to ensure you get the best out of our system as well as the right type of support. By default, all Stock2Shop clients receive our Standard support plan.
				</p>
			</div><!-- /.section__content -->
			
			<div class="widgets-plan">
				<div class="widget-plan">
					<div class="widget__head">
						<ul>
							<li>
								<h2>Fixed</h2>
							</li>
			
							<li>
								<h4>Standard</h4>
							</li>
			
							<li>
								<h4>Custom</h4>
							</li>
						</ul>
					</div><!-- /.widget__head -->
			
					<div class="widget__items">
						<div class="widget__item">
							<h4>Documentation & Solutions</h4>
							
							<ul>
								<li>
									<p>Access to repository of system documentation and solutions.</p>
								</li>
			
								<li>
									<i class="ico-checked"></i>
								</li>
			
								<li>
									<i class="ico-checked"></i>
								</li>
							</ul>
						</div><!-- /.widget__item -->
			
						<div class="widget__item">
							<h4>Technical support (Mail) *</h4>
							
							<ul>
								<li>
									<p>Assisting clients with technical queries via Stock2Shop’s ticketing system.</p>
								</li>
			
								<li>
									<i class="ico-checked"></i>
								</li>
			
								<li>
									<i class="ico-checked"></i>
								</li>
							</ul>
						</div><!-- /.widget__item -->
			
						<div class="widget__item">
							<h4>Technical support (Telephonic)</h4>
							
							<ul>
								<li>
									<p>Assisting clients with technical queries over the phone.	</p>
								</li>
			
								<li>
									
								</li>
			
								<li>
									<i class="ico-checked"></i>
								</li>
							</ul>
						</div><!-- /.widget__item -->
			
						<div class="widget__item">
							<h4>Case severity / Response times **</h4>
							
							<ul>
								<li>
									<p>General Guidance: You have a general question, or you want to request a feature.</p>
								</li>
			
								<li>
									<h6>< 72 Business Hours</h6>
								</li>
			
								<li>
									<h6>< 24 Business Hours</h6>
								</li>
							</ul>
			
							<ul>
								<li>
									<p>
										System Impaired: Non-critical functions of your integration are behaving abnormally, or you have a time-sensitive technical / development question.	
									</p>
								</li>
			
								<li>
									<h6>< 48 Business Hours</h6>
								</li>
			
								<li>
									<h6>< 12 Business Hours</h6>
								</li>
							</ul>
						</div><!-- /.widget__item -->
					</div><!-- /.widget__items -->
			
					<div class="widget__actions">
						<a href="#" class="btn btn--small">Contact Us</a>
					</div><!-- /.widget__actions -->
				</div><!-- /.widget-plan -->
			
				<div class="widget-plan">
					<div class="widget__head">
						<ul>
							<li>
								<h2>Variable</h2>
							</li>
			
							<li>
								<h4>Standard</h4>
							</li>
			
							<li>
								<h4>Custom</h4>
							</li>
						</ul>
					</div><!-- /.widget__head -->
			
					<div class="widget__items">
						<div class="widget__item">
							<h4>Best practices</h4>
							
							<ul>
								<li>
									<p>
										Defining and implementing best practices and workflows to ensure integrity of data syncing between system and minimal downtime due to queue blockages.	
									</p>
								</li>
			
								<li>
									
								</li>
			
								<li>
									<h6>Timed</h6>
								</li>
							</ul>
						</div><!-- /.widget__item -->
			
						<div class="widget__item">
							<h4>Reporting</h4>
							
							<ul>
								<li>
									<p>Generating monthly product reports for clients.	</p>
								</li>
			
								<li>
									
								</li>
			
								<li>
									<h6>Timed</h6>
								</li>
							</ul>
						</div><!-- /.widget__item -->
			
						<div class="widget__item">
							<h4>Resolving data issues</h4>
							
							<ul>
								<li>
									<p>Resolving and notifying any issues relating to data.</p>
								</li>
			
								<li>
									
								</li>
			
								<li>
									<h6>Timed</h6>
								</li>
							</ul>
						</div><!-- /.widget__item -->
			
						<div class="widget__item">
							<h4>Data capturing and importing</h4>
							
							<ul>
								<li>
									<p>Assistance with importing any product / customer related data into Stock2Shop.	</p>
								</li>
			
								<li>
									
								</li>
			
								<li>
									<h6>Timed</h6>
								</li>
							</ul>
						</div><!-- /.widget__item -->
			
						<div class="widget__item">
							<h4>Training & Proactive Guidance</h4>
							
							<ul>
								<li>
									<p>Provide Stock2shop console and integration specific training.</p>
								</li>
			
								<li>
									<h6>1 hour (once-off)</h6>
								</li>
			
								<li>
									<h6>Timed</h6>
								</li>
							</ul>
						</div><!-- /.widget__item -->
			
						<div class="widget__item">
							<h4>Total Available hours</h4>
							
							<ul>
								<li>
									<p>Number of hours Stock2Shop will spend assisting with variable support items.</p>
								</li>
			
								<li>
									
								</li>
			
								<li>
									<h6>
										Starting from 12<br> 
										Hours
									</h6>
								</li>
							</ul>
						</div><!-- /.widget__item -->
					</div><!-- /.widget__items -->
			
					<div class="widget__actions">
						<a href="#" class="btn btn--small">Contact Us</a>
					</div><!-- /.widget__actions -->
				</div><!-- /.widget-plan -->
			
				<div class="widgets__foot">
					<h4>Total Pricing (per month) ***</h4>
			
					<h4>Starting from R13,570.00 Incl VAT</h4>
				</div><!-- /.widgets__foot -->
			
				<ul class="widgets__hint">
					<li>
						* If technical support mails are not submitted via the correct channel, Stock2Shop will not be held liable for delayed initial response time.
					</li>
			
					<li>
						** We will make every reasonable effort to respond to your initial request within the corresponding timeframes.
					</li>
			
					<li>
						*** Billed each month. Credit is not carried over. Plans are subject to a 30 day minimum term.
					</li>
				</ul><!-- /.widgets__hint -->
			</div><!-- /.widgets-plan -->
		</div><!-- /.container -->
	</section><!-- /.section -->

	{{- partial "footer.html" . -}}
</div><!-- /.wrapper --> 

{{ end }}


