<footer id="footerWrapper" class="footer4">
    <section id="mainFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footerWidget">
                        <h3>ERP / Accounting</h3>
                        <ul id="menu-erp-accounting-systems" class="list-unstyled iconList borderList"><li id="menu-item-556" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-556 primary "><a title="Sage Accounting Integration" href="/integrations/sage-one-accounting/">Sage Business Cloud Accounting (Sage One)</a></li>
<li id="menu-item-2247" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2247 primary "><a title="Sage Business Cloud Financials Integration" href="/integrations/sage-business-cloud-financials/">Sage Business Cloud Financials (Sage Live)</a></li>
<li id="menu-item-420" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-420 primary "><a title="Sage Pastel Partner Inventory" href="/integrations/pastel-partner/">Sage 50cloud Pastel Partner (Pastel Partner)</a></li>
<li id="menu-item-3762" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3762 primary "><a href="/integrations/sage-50cloud-pastel-xpress-formerly-sage-partner-xpress/">Sage 50cloud Pastel Xpress (Partner Xpress)</a></li>
<li id="menu-item-419" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-419 primary "><a title="Sage Pastel Evolution Inventory" href="/integrations/sage-pastel-evolution/">Sage 100 Evolution (Evolution Standard)</a></li>
<li id="menu-item-3765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3765 primary "><a href="/integrations/sage-200-evolution-formerly-sage-evolution-premium/">Sage 200 Evolution (Evolution Premium)</a></li>
<li id="menu-item-3764" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3764 primary "><a href="/integrations/sage-300cloud-formerly-sage-accpac/">Sage 300cloud (formerly Sage Accpac)</a></li>
<li id="menu-item-1150" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1150 primary "><a title="SAP Business One Integration" href="/integrations/sap/">SAP Business One</a></li>
<li id="menu-item-2246" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2246 primary "><a title="iSync Solution Integration" href="/integrations/isync/">iSync Solutions</a></li>
<li id="menu-item-1151" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1151 primary "><a title="SYSPRO Integration" href="/integrations/syspro/">SYSPRO</a></li>
<li id="menu-item-2688" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2688 primary "><a title="Omni Accounts Integration" href="/integrations/omni-accounts-integration/">Omni Accounts</a></li>
<li id="menu-item-3219" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3219 primary "><a href="/integrations/iq-retail/">iQ Retail</a></li>
<li id="menu-item-3220" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3220 primary "><a href="/integrations/ms-navision-integration/">Microsoft Dynamics NAV</a></li>
</ul>                        </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footerWidget">
                        <h3>E-Commerce</h3>
                        <ul id="menu-sales-channels" class="list-unstyled iconList borderList"><li id="menu-item-403" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-403 primary "><a title="b2b trade store" href="/integrations/b2b-shopping-cart/">B2B Trade Store</a></li>
<li id="menu-item-404" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-404 primary "><a title="shopify integration" href="/integrations/shopify/">Shopify</a></li>
<li id="menu-item-405" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-405 primary "><a title="magento integration" href="/integrations/magento/">Magento</a></li>
<li id="menu-item-661" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-661 primary "><a title="Woocommerce integration" href="/integrations/woo-commerce/">WooCommerce</a></li>
</ul>                        </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footerWidget">
                        <h3>Marketplace</h3>
                        <ul id="menu-marketplace" class="list-unstyled iconList borderList"><li id="menu-item-2888" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2888 primary "><a title="Takealot Integration" href="/integrations/takealot-marketplace-integration/">Takealot Marketplace</a></li>
</ul>                            <h3>Order Fulfillment</h3>
                        <ul id="menu-order-fulfillment" class="list-unstyled iconList borderList"><li id="menu-item-517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-517 primary "><a title="parcel ninja ecommerce order fulfillment" href="/integrations/parcel-ninja/">Parcelninja</a></li>
</ul>                        </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footerWidget">

                        <h3>Keep in touch</h3>
                        <h1 class="phone">021 813 5866</h1>
                        <address>
                            <p>
                                <a href="mailto:sales@stock2shop.com">sales@stock2shop.com</a>
                            </p>
                        </address>


                        <form role="form" class="form-inline newsletterForm" method="post" action="//stock2shop.us18.list-manage.com/subscribe/post?u=3185b94e8ce17eb5959652a5a&amp;id=4447c587b2">
                            <div class="input-group">
                                <input type="email" name="EMAIL" placeholder="Newsletter" class="form-control input-lg" />
                                <div class="input-group-btn">
                                    <input type="submit" class="btn btn-primary btn-more" value="Join" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
        <section id="footerRights">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">

                    </div>
                </div>
            </div>
        </section>
    </section>
</footer>