{{ define "main" }}
<div class="row">
    <aside class="col-md-3">
        <ul class="nav flex-column">
        {{ range where .Site.Sections "Section" "wiki" }}
            {{ if .Sections }}
            {{ range .Sections }}
            <li class="nav-item">
                <!-- Below could just be heading -->
                <a class="nav-link" href="{{ .Permalink }}">{{ title .Title }}</a>
                <ul>
                    {{ if .Sections }}
                    {{ range .Sections }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Permalink }}">{{ title .Title }}</a>
                    </li>
                    {{ end }}
                    {{ end }}
                </ul>
            </li>
            {{ end }}
            {{ end }}
        {{ end}}
    </ul>
    </aside>
    <div class="col-md-9">
        <h2>{{ title .Title }}</h2>
        {{ .Content }}
        <ul>
            {{ if .CurrentSection.Sections }}
            {{ range .CurrentSection.Sections }}
            <li>
                <a href="{{ .Permalink }}">{{ title .Title }}</a>
                <ul>
                    {{ range .RegularPages }}
                    <li>
                        <a href="{{ .Permalink }}">{{ title .Title }}</a>
                    </li>
                    {{ end}}
                </ul>
            </li>
            {{ end}}
            {{ else }}
            {{ range .RegularPages }}
            <li>
                <a href="{{ .Permalink }}">{{ title .Title }}</a>
            </li>
            {{ end}}
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}