{{ define "main" }}
<h1>{{ title .Title }}</h1>
<div class="row">
    {{ .Content }}
    <ul>
    {{ if .CurrentSection.Sections }}
    {{ range .CurrentSection.Sections }}
    <li>
        <a href="{{ .Permalink }}">{{ title .Title }}</a>
        <ul>
            {{ if .Sections }}
            {{ range .Sections }}
            <li>
                <!-- Below could just be heading -->
                <a href="{{ .Permalink }}">{{ title .Title }}</a>
                <ul>
                    {{ range .RegularPages }}
                    <li>
                        <a href="{{ .Permalink }}">{{ title .Title }}</a>
                    </li>
                    {{ end}}
                </ul>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </li>
    {{ end}}
    {{ else }}
        {{ range .RegularPages }}
        <li>
            <a href="{{ .Permalink }}">{{ title .Title }}</a>
        </li>
        {{ end}}
    {{ end }}
    </ul>
</div>
{{ end }}