{{ define "main" }}
<div class="row">
    <aside class="col-md-3">
        <nav class="nav flex-column">
            {{ range .RegularPages }}
            <a class="nav-link" href="{{ .Permalink }}">{{ if .Params.TitleList }}{{ .Params.TitleList }}{{ else }}{{ .Title }}{{ end }}</a>
            {{ end }}
        </nav>
    </aside>
    <div class="col-md-9">
        <h1>{{ if .Params.heading }}{{ .Params.heading }}{{ else }}{{ .Title }}{{ end }}</h1>
        <p class="lead">{{ .Params.Lead }}</p>
        {{ .Content }}
    </div>
</div>
{{ end }}