<div class="row row-cols-1 row-cols-md-4">
    {{ range where .Site.RegularPages "Type" "case-studies" }}
    <div class="col mb-4">
        <div class="card h-100">
            <a href="{{ .Page.RelPermalink }}"><img src="{{ .Params.image }}" class="card-img-top" alt="{{ .Params.imageAlt }}"></a>
            <div class="card-body">
                <h5 class="card-title"><a href="{{ .Page.RelPermalink }}">{{ title .Page.Title }}</a></h5>
                <p class="card-text" style="display:inline">{{ .Params.Summary }}</p>
                <strong>{{ .Params.Summary2 }}</strong>
            </div>
        </div>
    </div>
    {{ end }}
</div>