<section class="bg-danger pt-5 pb-5 fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4 class="text-light">Want to find out exactly how Stock2Shop can make your business more efficient and streamlined?</h4>
            </div>
            <div class="col-md-4">
                <a class="float-right button btn btn-lg btn-light" title="Contact Stock2Shop" href="/contact-us">Contact us</a>
            </div>
        </div>
    </div>
</section>