<section class="section section--red">
    <div class="container">
        <div class="form form--primary form--primary-alt">
            <form action="?" method="post">
                <div class="form__head">
                    <h2>Contact Us</h2>

                    <p>
                        Some blurb about how the user can contact Stock2Shop in order to schedule a demo.
                    </p>
                </div><!-- /.form__head -->
                
                <div class="form__body">
                    <div class="form-group">
                        <label for="f-name" class="hidden">Full Name*</label>

                        <input type="text" class="form-control" id="f-name" name="f-name" aria-describedby="nameHelp" placeholder="Full Name*">
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="f-email" class="hidden">Your Email*</label>

                        <input type="email" class="form-control" id="f-email" name="f-email" aria-describedby="emailHelp" placeholder="Your Email*">
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="f-phone" class="hidden">Phone</label>

                        <input type="text" class="form-control" id="f-phone" name="f-phone" aria-describedby="phoneHelp" placeholder="Phone">
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="f-message" class="hidden">How can we help you?</label>

                        <textarea type="text" class="form-control" id="f-message" name="f-message" aria-describedby="messageHelp" placeholder="How can we help you?"></textarea>
                    </div><!-- /.form-group -->
                </div><!-- /.form__body -->
                
                <div class="form__foot">
                    <p>
                        Stock2Shop needs the contact information you provide to us to contact you about our products and services. You may unsubscribe from these communications at anytime. For information on how to unsubscribe, as well as our privacy practices and commitment to protecting your privacy, check out our <a href="#">Privacy Policy.</a>
                    </p>

                    <button class="btn btn--size1">Submit</button>
                </div><!-- /.form__foot -->
            </form>
        </div><!-- /.form -->
    </div><!-- /.container -->
</section><!-- /.section -->