<footer class="footer">
	<div class="container">
		<div class="footer__body">
			<div class="row">
				<div class="col-md-8 col-lg-4">
					<h4>Sources</h4>
					
					<div class="footer__nav footer__nav--primary">
						<ul>
							<li>
								<a href="#">Sage Business Cloud Accounting (Sage One)</a>
							</li>
							
							<li>
								<a href="#">Sage Business Cloud Financials (Sage Live)</a>
							</li>
							
							<li>
								<a href="#">Sage 50cloud Pastel Partner (Pastel Partner)</a>
							</li>
							
							<li>
								<a href="#">Sage 50cloud Pastel Xpress (Partner Xpress)</a>
							</li>
							
							<li>
								<a href="#">iSync Solutions</a>
							</li>
							
							<li>
								<a href="#">Omni Accounts</a>
							</li>
							
							<li>
								<a href="#">iQ Retail</a>
							</li>
						</ul>
						
						<ul>
							<li>
								<a href="#">Sage 100 Evolution (Evolution Standard)</a>
							</li>
							
							<li>
								<a href="#">Sage 200 Evolution (Evolution Premium)</a>
							</li>
							
							<li>
								<a href="#">Sage 300cloud (formerly Sage Accpac)</a>
							</li>
							
							<li>
								<a href="#">SAP Business One</a>
							</li>
							
							<li>
								<a href="#">Microsoft Dynamics NAV</a>
							</li>
							
							<li>
								<a href="#">SYSPRO</a>
							</li>
						</ul>
					</div><!-- /.footer__nav -->
				</div><!-- /.col-md- offset-md- -->

				<div class="col-md-4 col-lg-2">
					<h4>Channels</h4>

					<nav class="footer__nav">
						<ul>
							<li>
								<a href="#">Shopify</a>
							</li>
							
							<li>
								<a href="#">WooCommerce</a>
							</li>
							
							<li>
								<a href="#">Magento</a>
							</li>
							
							<li>
								<a href="#">B2B Trade Store</a>
							</li>
						</ul>
					</nav><!-- /.footer__nav -->
				</div><!-- /.col-md- offset-md- -->

				<div class="col-md-4 col-lg-6">
					<h4>Fulfillment</h4>

					<nav class="footer__nav">
						<ul>
							<li>
								<a href="#">ParcelNinja</a>
							</li>
							
							<li>
								<a href="#">On the Dot</a>
							</li>
						</ul>
					</nav><!-- /.footer__nav -->
				</div><!-- /.col-md- offset-md- -->

				<div class="col-md-4 col-lg-2">
					<h4>Marketplace</h4>

					<nav class="footer__nav">
						<ul>
							<li>
								<a href="#">Takealot</a>
							</li>
						</ul>
					</nav><!-- /.footer__nav -->
				</div><!-- /.col-md- offset-md- -->

				<div class="col-md-4 col-lg-2">
					<h4>How it Works</h4>

					<nav class="footer__nav">
						<ul>
							<li>
								<a href="#">Overview</a>
							</li>

							<li>
								<a href="#">Features</a>
							</li>
						</ul>
					</nav><!-- /.footer__nav -->
				</div><!-- /.col-md- offset-md- -->

				<div class="col-md-4 col-lg-7">
					<h4>Company</h4>

					<nav class="footer__nav">
						<ul>
							<li>
								<a href="#">About</a>
							</li>

							<li>
								<a href="#">Careers</a>
							</li>

							<li>
								<a href="#">Contact</a>
							</li>
						</ul>
					</nav><!-- /.footer__nav -->
				</div><!-- /.col-md- offset-md- -->

				<div class="col-md-4 col-lg-2">
					<h4>Resources</h4>

					<nav class="footer__nav">
						<ul>
							<li>
								<a href="#">Articles</a>
							</li>

							<li>
								<a href="#">Success Stories</a>
							</li>
						</ul>
					</nav><!-- /.footer__nav -->
				</div><!-- /.col-md- offset-md- -->

				<div class="col-md-4 col-lg-2">
					<h4>Support</h4>

					<nav class="footer__nav">
						<ul>
							<li>
								<a href="#">Help Centre</a>
							</li>
						</ul>
					</nav><!-- /.footer__nav -->
				</div><!-- /.col-md- offset-md- -->

				<div class="col-md-4 col-lg-2">
					<h4>Pricing</h4>
				</div><!-- /.col-md- offset-md- -->
			</div><!-- /.row -->
		</div><!-- /.footer__body -->

		<div class="footer__aside">
			<a href="#" class="logo footer__logo"></a>

			<p>
				@ Copyright 2021 Stock2Shop.<br> All Rights Reserved.
			</p>

			<p><a href="#">Privacy Policy</a> <span class="separator">|</span> <a href="#">Terms & Conditions</a></p>
		</div><!-- /.footer__aside -->
	</div><!-- /.container -->
</footer><!-- /.footer -->