<div class="row">
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="New Balance - Aurora Magento" class="img-responsive border" src="/uploads/logo-client-new-balance.png" alt="New Balance">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Mercedes - Efinity Magento" class="img-responsive border" src="/uploads/logo-client-mercedes.png" alt="Mercedes-Benz">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="USN - Sage Evolution B2B Trade Store" class="img-responsive border" src="/uploads/logo-client-usn.png" alt="USN">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="HP - Sage Evolution Magento" class="img-responsive border" src="/uploads/logo-client-hp.png" alt="HP">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Hair Health &amp; Beauty - Sage Evolution Magento" class="img-responsive border" src="/uploads/logo-client-health-and-beauty.png" alt="Hair Health &amp; Beauty">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Umbro - Sage Evolution Magento" class="img-responsive border" src="/uploads/logo-client-umbro.png" alt="Umbro">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Pylones - SAP One Magento" class="img-responsive border" src="/uploads/logo-client-pylones.png" alt="Pylones">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Hamleys - Magento" class="img-responsive border" src="/uploads/logo-client-hamleys.png" alt="Hamleys">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Le coq sportif - Sage Evolution Magento" class="img-responsive border" src="/uploads/logo-client-lecoqsportif.png" alt="Le coq sportif">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="New Era - Magento" class="img-responsive border" src="/uploads/logo-client-new-era.png" alt="New Era">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Diesel Electric - SAP One B2B Trade Store" class="img-responsive border" src="/uploads/logo-client-diesel-electric.png" alt="Diesel Electric">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Carrol Boyes - Pastel Partner Magento" class="img-responsive border" src="/uploads/logo-client-carrol-boyes.png" alt="Carrol Boyes">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Edutrade - Pastel Partner Magento" class="img-responsive border" src="/uploads/logo-client-edutrade.png" alt="Edutrade">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Macs Auto - SAP One B2B Trade Store" class="img-responsive border" src="/uploads/logo-client-macs-auto.png" alt="Macs Auto">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Illumina - Sage Evolution Magento" class="img-responsive border" src="/uploads/logo-client-illumina.png" alt="Illumina">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Stingray - SAP One Magento" class="img-responsive border" src="/uploads/logo-client-stingray.png" alt="Stingray">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="WeFix - Magento" class="img-responsive border" src="/uploads/logo-client-wefix.png" alt="We Fix">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="YDE - Magento" class="img-responsive border" src="/uploads/logo-client-yde.png" alt="YDE">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Ben Sherman - Magento" class="img-responsive border" src="/uploads/logo-client-ben-sherman.png" alt="Ben Sherman">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Headwear24 - Magento iSync" class="img-responsive border" src="/uploads/logo-client-headwear24.png" alt="Headwear24">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="MedSales - Shopify Sage Evolution" class="img-responsive border" src="/uploads/logo-client-medsales.png" alt="MedSales">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Midwich Australia - Magento Sage Evolution" class="img-responsive border" src="/uploads/logo-client-midwich.png" alt="Midwich Australia">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Stealth Global- B2B" class="img-responsive border" src="/uploads/logo-client-stealth.png" alt="Stealth">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Superga - SAP One" class="img-responsive border" src="/uploads/logo-client-superga.png" alt="Superga">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Cannondale" class="img-responsive border" src="/uploads/logo-client-cannondale.png" alt="Cannondale">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Evox" class="img-responsive border" src="/uploads/logo-client-evox.png" alt="Evox">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Fatsak" class="img-responsive border" src="/uploads/logo-client-fatsak.png" alt="Fatsak">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Fossil" class="img-responsive border" src="/uploads/logo-client-fossil.png" alt="Fossil">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Gadget Shop" class="img-responsive border" src="/uploads/logo-client-gadget-shop.png" alt="Gadget Shop">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Nintendo" class="img-responsive border" src="/uploads/logo-client-nintendo.png" alt="Nintendo">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Polar" class="img-responsive border" src="/uploads/logo-client-polar.png" alt="Polar">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Poobie Naidoos" class="img-responsive border" src="/uploads/logo-client-poobie-naidoos.png" alt="Poobie Naidoos">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Rubicon" class="img-responsive border" src="/uploads/logo-client-rubicon.png" alt="Rubicon">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Sainta&amp;Summer" class="img-responsive border" src="/uploads/logo-client-saintandsummer.png" alt="Sainta&amp;Summer">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="Smollan" class="img-responsive border" src="/uploads/logo-client-smollan.png" alt="Smollan">
        </section>
    </article>
    <article class="col-xxs-12 col-xs-6 col-sm-4 col-md-2 mb-4">
        <section>
            <img title="SSN" class="img-responsive border" src="/uploads/logo-client-ssn.png" alt="SSN">
        </section>
    </article>
</div>