<!--<header>-->
<!--    <div id="preHeader">-->
<!--        <nav class="container nav">-->
<!--            <a class="nav-link" style="padding:.5rem .5rem .5rem 0" href="/contact-us">Contact Us</a>-->
<!--            <a class="nav-link" href="/glossary">Glossary</a>-->
<!--            <a class="nav-link" href="/about-us">About Us</a>-->
<!--            <div class="ml-auto row">-->
<!--                <a href="tel:27218135866" class="nav-link" style="color:#b0b0b0">+27 21 813 5866</a>-->
<!--                <a style="height: 27px; padding: 2px 8px;margin: 6px 16px 0 0;" href="https://console.stock2shop.com/console/" class="btn btn-sm btn-secondary nav-link">LOGIN</a>-->
<!--            </div>-->
<!--        </nav>-->
<!--    </div>-->
<!--    <nav class="navbar navbar-expand-md border-bottom">-->
<!--        <div class="container">-->
<!--            <a class="navbar-brand" href="/"><img src="/uploads/logo-stock2shop.png"></a>-->
<!--            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">-->
<!--                <ul class="navbar-nav">-->
<!--                    {{ range .Site.Menus.docmenutop }}-->
<!--                    <li class="nav-link">-->
<!--                        <a href="{{ .URL }}">-->
<!--                            {{ title .Name }}-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    {{ end }}-->
<!--                    <a href="/" class="btn btn-danger ml-2">Call to action</a>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
<!--</header>-->