<header>
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#">Stock2Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    {{ range .Site.Menus.main }}
                    <li class="nav-link">
                        <a href="{{ .URL }}">
                            {{ .Name }}
                        </a>
                    </li>
                    {{ end }}
                    <input type="button" class="btn-sm" onclick="location.href='/'" value="How it works" />
                </ul>
            </div>
        </div>
    </nav>
</header>