<!DOCTYPE html>
<html>
<body>
    <header id="header">
        <div id="preHeader" class="hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <!-- Quick navigation -->
                        <ul id="menu-pre-header" class="quickMenu">
                            <li>Contact Us</li>
                            <li>Developers</li>
                            <li>Glossary</li>
                            <li>About Us</li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul id="preHeaderRight">
                            <li>
                                <span><i class="icon-mobile"></i>+27 (0)21 813 5866</span>
                            </li>
                            <li>
                                <a class="btn btn-sm" href="https://console.stock2shop.com/console/"><span style="color:#F7F7F7">LOGIN</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="mainHeader">
            Website
        </div>
    </header>
</body>
</html>