<header class="header">
	<div class="header__bar">
		<div class="container">
			<ul class="header__links">
				<li>
					<a href="#">Help Centre</a>
				</li>

				<li>
					<a href="#">Login</a>
				</li>
			</ul><!-- /.header__links -->
		</div><!-- /.container -->
	</div><!-- /.header__bar -->

	<div class="header__body">
		<div class="container">
			<a href="#" class="logo"></a>

			<a href="#" class="btn-burger">
				<span></span>
				
				<span></span>
				
				<span></span>
			</a>

			<div class="header__aside">
				<nav class="navbar">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a href="#" class="nav-link">How it Works</a>
						</li><!-- /.nav-item -->

						<li class="nav-item">
							<a href="#" class="nav-link">Integrations <i class="ico-angle-down"></i></a>

							<div class="dropdown">
								<a href="#" class="dropdown__link"><i class="ico-angle-left"></i> Integrations</a>

								<div class="dropdown__body">
									<div class="dropdown__cols">
										<div class="dropdown__col dropdown__col--size1">
											<h4>ERP/Accounting system</h4>

											<div class="dropdown__nav dropdown__nav--primary">
												<a href="#" class="dropdown__link"><i class="ico-angle-left"></i> ERP/Accounting system</a>

												<ul>
													<li>
														<a href="#">Sage Business Cloud Accounting (Sage One)</a>
													</li>
													
													<li>
														<a href="#">Sage Business Cloud Financials (Sage Live)</a>
													</li>
													
													<li>
														<a href="#">Sage 50cloud Pastel Partner (Pastel Partner)</a>
													</li>
													
													<li>
														<a href="#">Sage 50cloud Pastel Xpress (Partner Xpress)</a>
													</li>
													
													<li>
														<a href="#">iSync Solutions</a>
													</li>
													
													<li>
														<a href="#">Omni Accounts</a>
													</li>
													
													<li>
														<a href="#">iQ Retail</a>
													</li>
												</ul>
												
												<ul>
													<li>
														<a href="#">Sage 100 Evolution (Evolution Standard)</a>
													</li>
													
													<li>
														<a href="#">Sage 200 Evolution (Evolution Premium)</a>
													</li>
													
													<li>
														<a href="#">Sage 300cloud (formerly Sage Accpac)</a>
													</li>
													
													<li>
														<a href="#">SAP Business One</a>
													</li>
													
													<li>
														<a href="#">Microsoft Dynamics NAV</a>
													</li>
													
													<li>
														<a href="#">SYSPRO</a>
													</li>
												</ul>
											</div><!-- /.dropdown__nav -->
										</div><!-- /.dropdown__col -->

										<div class="dropdown__col dropdown__col--size2">
											<h4>E-commerce</h4>

											<div class="dropdown__nav">
												<a href="#" class="dropdown__link"><i class="ico-angle-left"></i> E-commerce</a>

												<ul>
													<li>
														<a href="#">Shopify</a>
													</li>
													
													<li>
														<a href="#">WooCommerce</a>
													</li>
													
													<li>
														<a href="#">Magento</a>
													</li>
													
													<li>
														<a href="#">B2B Trade Store</a>
													</li>
												</ul>
											</div><!-- /.dropdown__nav -->
										</div><!-- /.dropdown__col -->

										<div class="dropdown__col dropdown__col--size3">
											<div class="dropdown__col dropdown__col--alt">
												<h4>Fulfillment</h4>

												<div class="dropdown__nav">
													<a href="#" class="dropdown__link"><i class="ico-angle-left"></i> Fulfillment</a>

													<ul>
														<li>
															<a href="#">ParcelNinja</a>
														</li>
														
														<li>
															<a href="#">On the Dot</a>
														</li>
													</ul>
												</div><!-- /.dropdown__nav -->
											</div><!-- /.dropdown__col -->

											<div class="dropdown__col dropdown__col--alt">
												<h4>Marketplace</h4>

												<div class="dropdown__nav">
													<a href="#" class="dropdown__link"><i class="ico-angle-left"></i> Marketplace</a>

													<ul>
														<li>
															<a href="#">Takealot</a>
														</li>
													</ul>
												</div><!-- /.dropdown__nav -->
											</div><!-- /.dropdown__col -->
										</div><!-- /.dropdown__col -->
									</div><!-- /.dropdown__cols -->
								</div><!-- /.dropdown__body -->

								<div class="dropdown__aside">
									<div class="dropdown__col dropdown__col--alt">
										<h4>Side Panel Heading</h4>

										<div class="dropdown__nav">
											<a href="#" class="dropdown__link"><i class="ico-angle-left"></i> Side Panel Heading</a>

											<ul>
												<li>
													<a href="#">Menu Item Link</a>
												</li>

												<li>
													<a href="#">Menu Item Link</a>
												</li>

												<li>
													<a href="#">Menu Item Link</a>
												</li>

												<li>
													<a href="#">Menu Item Link</a>
												</li>
											</ul>
										</div><!-- /.dropdown__nav -->
									</div><!-- /.dropdown__col -->

									<div class="dropdown__col dropdown__col--alt">
										<h4>Side Panel Heading</h4>

										<div class="dropdown__nav">
											<a href="#" class="dropdown__link"><i class="ico-angle-left"></i> Side Panel Heading</a>
											
											<ul>
												<li>
													<a href="#">Menu Item Link</a>
												</li>

												<li>
													<a href="#">Menu Item Link</a>
												</li>

												<li>
													<a href="#">Menu Item Link</a>
												</li>

												<li>
													<a href="#">Menu Item Link</a>
												</li>
											</ul>
										</div><!-- /.dropdown__nav -->
									</div><!-- /.dropdown__col -->
								</div><!-- /.dropdown__aside -->
							</div><!-- /.dropdown -->
						</li><!-- /.nav-item -->
						
						<li class="nav-item">
							<a href="#" class="nav-link">Features</a>
						</li><!-- /.nav-item -->
						
						<li class="nav-item">
							<a href="#" class="nav-link">B2B Trade Store</a>
						</li><!-- /.nav-item -->
						
						<li class="nav-item">
							<a href="#" class="nav-link">Resources <i class="ico-angle-down"></i></a>
						</li><!-- /.nav-item -->
						
						<li class="nav-item">
							<a href="#" class="nav-link">Pricing</a>
						</li><!-- /.nav-item -->

						<li class="nav-item visible-tablet">
							<a href="#" class="nav-link">Help Center</a>
						</li><!-- /.nav-item -->

						<li class="nav-item visible-tablet">
							<a href="#" class="nav-link">Watch Video</a>
						</li><!-- /.nav-item -->
					</ul><!-- /.navbar-nav -->
				</nav><!-- /.navbar -->

				<ul class="header__actions">
					<li>
						<a href="#" class="btn btn-outline">Login</a>
					</li>

					<li>
						<a href="#" class="btn btn--hover-alt">Schedule A Demo</a>
					</li>
				</ul><!-- /.header__actions -->

				<a href="#" class="header__link">+27 (0)21 813 5866</a>
			</div><!-- /.header__aside -->
		</div><!-- /.container -->
	</div><!-- /.header__body -->
</header><!-- /.header -->