<div class="container-fluid">
    <a href="https://console.stock2shop.com/">login</a>
    <a href="/help">Help Centre</a>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
<!--        <a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/how-it-works">How it Works</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Integrations
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li><a class="dropdown-item" href="/integrations"> Integrations main link</a></li>

                        <li><a class="dropdown-item" href="#">ERP / Accounting System</a></li>
                        <li><a class="dropdown-item" href="/integrations/dolfin"> - Dolfin</a></li>
                        <li><a class="dropdown-item" href="#"> - ...</a></li>

                        <li><hr class="dropdown-divider"></li>

                        <li><a class="dropdown-item" href="#">E-Commerce</a></li>
                        <li><a class="dropdown-item" href="/integrations/shopify"> - Shopify</a></li>
                        <li><a class="dropdown-item" href="#"> - ...</a></li>

                        <li><hr class="dropdown-divider"></li>

                        <li><a class="dropdown-item" href="#">Warehousing</a></li>
                        <li><a class="dropdown-item" href="/integrations/parcel-ninja"> - Parcelninja</a></li>
                        <li><a class="dropdown-item" href="#"> - ...</a></li>

                        <li><hr class="dropdown-divider"></li>

                        <li><a class="dropdown-item" href="#">Marketplaces</a></li>
                        <li><a class="dropdown-item" href="/integrations/takealot"> - Takealot</a></li>
                        <li><a class="dropdown-item" href="#"> - ...</a></li>

                        <li><hr class="dropdown-divider"></li>

                        <li><a class="dropdown-item" href="#">Integration Models</a></li>
                        <li><a class="dropdown-item" href="#"> - Integration for Retailers</a></li>
                        <li><a class="dropdown-item" href="#"> - ...</a></li>

                        <li><hr class="dropdown-divider"></li>

                        <li><a class="dropdown-item" href="#">Sectors</a></li>
                        <li><a class="dropdown-item" href="#"> - Integration Kitchenware</a></li>
                        <li><a class="dropdown-item" href="#"> - ...</a></li>

                        <li><hr class="dropdown-divider"></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/help/features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/b2b-shopping-cart">B2B Trade Store</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Resources
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <li><a class="dropdown-item" href="/articles">Articles</a></li>
                        <li><a class="dropdown-item" href="/case-studies">Success Stories</a></li>
                        <li><a class="dropdown-item" href="/help">Help Center</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pricing">Pricing</a>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-success" type="submit">Schedule a Demo</button>
            </form>
        </div>
    </div>
</nav>