<section class="section section--gray section--services-alt">
    <div class="container">
        <header class="section__head">
            <h2>See supporting information</h2>
        </header><!-- /.section__head -->

        <div class="services">
            <div class="row">
                <div class="col-md-6">
                    <div class="service service--primary">
                        <i class="ico-feature service__ico"></i>

                        <h2>Features</h2>

                        <p>
                            All the concepts and information you need to start integrating the Stock2Shop system. Our highly skilled team is available for support from sales through set-up and beyond, and we’ll happily answer any questions you have.
                        </p>

                        <a href="#" class="btn btn--medium-alt">View Documentation</a>
                    </div><!-- /.service -->
                </div><!-- /.col-md- offset-md- -->

                <div class="col-md-6">
                    <div class="service service--primary">
                        <i class="ico-tech service__ico"></i>

                        <h2>Technical Documentation</h2>

                        <p>
                            All the concepts and information you need to start integrating the Stock2Shop system. Our highly skilled team is available for support from sales through set-up and beyond, and we’ll happily answer any questions you have.
                        </p>

                        <a href="#" class="btn btn--medium-alt">View Documentation</a>
                    </div><!-- /.service -->
                </div><!-- /.col-md- offset-md- -->
            </div><!-- /.row -->
        </div><!-- /.services -->   
    </div><!-- /.container -->
</section><!-- /.section -->