{{/* ignore empty links with + */}}
{{- $headers := findRE "<h[2-4].*?>(.|\n])+?</h[2-4]>" .Content -}}
{{ .Scratch.Set "last_level" 1 }}

{{/* at least one header to link to */}}
{{- $has_headers := ge (len $headers) 1 -}}
{{- if $has_headers -}}

<aside id="list-example" class="nav-pills">
    {{ $counter := 1 }}
    {{- range $headers -}}
    {{- $header := . -}}
    {{- $base := ($.Page.File.LogicalName) -}}
    {{- $anchorId := ($header | plainify | htmlUnescape | anchorize) -}}
    {{- $href := delimit (slice $base $anchorId) "#" | string -}}
    {{- range findRE "[2-4]" . 1 -}}

        {{- $next_heading := (int .) -}}
        {{- if gt $next_heading ($.Scratch.Get "last_level") -}}
        <ul class="{{ if gt $next_heading 2 }}collapse{{ end }} toc-h{{ . }} sub{{ $counter }}">
            {{- else if lt $next_heading ($.Scratch.Get "last_level") -}}
        </ul>
        {{- end -}}
    <li data-toggle="collapse" href='.sub{{ add $counter 1 }}' aria-expanded="false" aria-controls="sub{{ add $counter 1 }}"><a class="nav-link" href="#{{ $anchorId }}">{{- $header | plainify | htmlUnescape -}}</a></li>
        {{ $counter = add $counter 1 }}
        {{ $.Scratch.Set "last_level" $next_heading }}

    {{- end -}}
    {{- end -}}

{{- end -}}
</aside>