<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ .Title }}</title>
<!--{{ $scss := resources.Get "scss/style.scss" | resources.ToCSS | resources.Fingerprint | resources.Minify }}-->
{{ $scss := resources.Get "scss/style.scss" }}
{{ $style := $scss | resources.ToCSS }}
{{ if .Site.IsServer }}
<link rel="stylesheet" href='{{ $style.Permalink }}'>
{{ else }}
<link rel="stylesheet" href='{{ trim $style.Permalink "/" }}'>
{{ end }}
{{ range .Site.Params.custom_css }}
<link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
{{ end }}
  <body>
    {{ if or (eq .Type "wiki") (eq .Type "documentation") }}
    {{- partial "headerWiki.html" . -}}
    {{ else }}
    {{- partial "header.html" . -}}
    {{ end }}
    <main class="container pt-5">
      {{ block "main" . }}{{ end }}
    </main>
    {{- partial "footer.html" . -}}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    {{ range .Site.Params.bootstrap_js }}
    <script src="{{ $.Site.BaseURL }}{{ . }}"></script>
    {{ end }}
  </body>
</html>