<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>
{{ if .Page.IsHome }}
  {{ .Title }}
{{ else }}
{{- block "title" . -}}
     {{ with title .Params.Title }}{{ . }}{{ end }} | {{ .Site.Title }}
{{- end -}}
{{ end }}
</title>
<meta name="description" content="{{ with .Params.Description }}{{ . }}{{ end }}">
{{- partial "head.html" . -}}

  <body>
    {{ if or (eq .Type "user-docs") (eq .Type "help-centre") (eq .Type "developers") }}
    {{- partial "header_doc.html" . -}}
    {{ else }}
    {{- partial "header.html" . -}}
    {{ end }}
    <main class="container pt-5 pb-5">
      {{ block "main" . }}{{ end }}
    </main>
    {{- partial "footer.html" . -}}
    {{- partial "foot.html" . -}}
  </body>
</html>