{{ define "main" }}
<div class="wrapper">
	{{- partial "header.html" . -}}

	<div class="hero hero--size5">
	    <div class="container">
	        <article class="article">
	            <div class="row align-items-center">
	                <div class="col-lg-12">
	                    <div class="article__content article__content--primary">
	                        <h1>{{ if .Params.heading }}{{ title .Params.heading }}{{ else }}{{ title .Title }}{{ end }}</h1>
	                        
	                        <p>
	                        	{{ .Params.Lead }}
	                        </p>
	                    </div><!-- /.article__content -->
	                </div><!-- /.col-md- offset-md- -->
	            </div><!-- /.row -->
	        </article><!-- /.article -->
	    </div><!-- /.container -->
	</div><!-- /.hero -->

	<section class="section section--secondary">
		<div class="container">
			<div class="section__image-alt">
				<img src="{{ .Params.image }}" alt="{{ .Params.imageAlt }}">
			</div><!-- /.section__image -->

			<div class="section__inner">
				<div class="section__content">
					{{ .Content }}
				</div><!-- /.section__content -->

				<section class="section section--red section--contact-alt">
				    <div class="section__content">
				        <p>
				        	Want to find out exactly how Stock2Shop can make your business more efficient and streamlined?
				        </p>
				    
				        <a href="#" class="btn btn--medium-alt btn--dark">Let’s Talk</a>
				    </div><!-- /.section__content -->
				</section><!-- /.section -->
			</div><!-- /.section__inner -->
		</div><!-- /.container -->
	</section><!-- /.section -->

    {{- partial "footer.html" . -}}
</div><!-- /.wrapper -->
{{ end }}