{{ define "main" }}
<div class="row" id="helpCentre">
    <aside class="col-md-3">
        <ul class="nav flex-column">
            {{ $currentPage := . }}
            <!-- First Level Section -->
            {{ range where .Site.Sections "Section" "help-centre" }}
                {{ range .Sections }}
                <li class="nav-item {{ if (eq $currentPage.Permalink .Permalink) }}active{{ end }}">
                    <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
                    <ul>
                        <!-- Second Level Section -->
                        {{ if .Sections }}
                            {{ range .Sections }}
                            <li class="nav-item {{ if (eq $currentPage.Permalink .Permalink) }}active{{ end }}">
                                <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
                            </li>
                            {{ end }}
                        {{ end }}
                    </ul>
                    <ul>
                        <!-- Don't list Queue Error pages -->
                        {{ range .Pages }}
                            {{ if not (in .Params.tags "Queue Error") }}
                            <li>
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </li>
                            {{ end }}
                        {{ end }}
                    </ul>
                </li>
                {{ end }}
            {{ end}}
        </ul>
    </aside>
    <div class="col-md-9">
        <h2>{{ .Title }}</h2>
        <p class="lead">{{ .Params.Lead }}</p>
        <hr>
        {{ .Content }}
        <!-- If current section contains nested sections, list sections and pages -->
        {{ if .CurrentSection.Sections }}
            <ul id="sectionTOC">
            {{ range .CurrentSection.Sections }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    <ul>
                        {{ range .RegularPages.Reverse }}
                        <li>
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </li>
                        {{ end}}
                    </ul>
                </li>
            {{ end}}
            </ul>
        <!-- On queue errors page render table with titles and tags -->
        {{ else if eq .RelPermalink "/help-centre/queue-errors/" }}
            <table>
                <tr>
                    <td>Tags</td>
                    <td>Error Message</td>
                </tr>
                <!-- TODO: Sort by tag-->
                {{ range .Pages }}
                <tr>
                    <td>
                        {{ range first 1 (.GetTerms "tags") }}
                        <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                        {{ end }}
                    </td>
                    <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
                </tr>
                {{ end}}
            </table>
        {{ else }}
        <!-- If not queue error section, contains only root pages and no nested sections -->
            <ul id="sectionTOC">
                {{ range .Pages }}
                    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{ end}}
            </ul>
        {{ end }}
    </div>
</div>
{{ end }}