{{ define "main" }}
<div class="row">
    <aside class="col-md-3">
        <ul class="nav flex-column">
            <li><a href="/help-centre">Help Centre</a></li>
            {{ $currentPage := . }}
            {{ range where .Site.Sections "Section" "help-centre" }}
                {{ if .Sections }}
                {{ range .Sections }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .Permalink }}">{{ title .Title }}</a>
                    <ul>
                        {{ if .Sections }}
                        {{ range .Sections }}
                        <li class="nav-item {{ if in $currentPage.Permalink .Permalink }}active{{ end }}">
                            <a class="nav-link" href="{{ .Permalink }}">{{ title .Title }}</a>
                        </li>
                        {{ end }}
                        {{ end }}
                    </ul>
                    <ul>
                        {{ range .RegularPages }}
                        <li>
                            <a href="{{ .Permalink }}">{{ title .Title }}</a>
                        </li>
                        {{ end}}
                    </ul>
                </li>
                {{ end }}
                {{ end }}
            {{ end}}
        </ul>
    </aside>
    <div class="col-md-9">
        <h1>{{ if .Params.heading }}{{ title .Params.heading }}{{ else }}{{ title .Title }}{{ end }}</h1>
        <!-- TODO: {{ .Page.Lastmod }} -->
        <h4 id="toc">Contents</h4>
        {{ .TableOfContents }}
        {{ .Content }}
    </div>
</div>
{{ end }}