@font-face {
    font-family: 'custom-icons';
    src: url('../font/custom-icons.eot?68677185');
    src: url('../font/custom-icons.eot?68677185#iefix') format('embedded-opentype'),
         url('../font/custom-icons.woff?68677185') format('woff'),
         url('../font/custom-icons.ttf?68677185') format('truetype'),
         url('../font/custom-icons.svg?68677185#custom-icons') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'custom-icons';
      src: url('../font/custom-icons.svg?68677185#custom-icons') format('svg');
    }
  }
  */
   
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "custom-icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
       
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
   
  .icon-quote-left:before { content: '\e928'; } /* 'î¤¨' */
  .icon-deviantart:before { content: '\e81d'; } /* 'î ' */
  .icon-down-open:before { content: '\e92c'; } /* 'î¤¬' */
  .icon-up-open:before { content: '\e92d'; } /* 'î¤­' */
  .icon-down-open-mini:before { content: '\e92b'; } /* 'î¤«' */
  .icon-left-open-mini:before { content: '\e804'; } /* 'î „' */
  .icon-right-open-mini:before { content: '\e805'; } /* 'î …' */
  .icon-up-open-mini:before { content: '\e92a'; } /* 'î¤ª' */
  .icon-down-open-big:before { content: '\e92e'; } /* 'î¤®' */
  .icon-left-open-big:before { content: '\e765'; } /* 'î¥' */
  .icon-right-open-big:before { content: '\e766'; } /* 'î¦' */
  .icon-up-open-big:before { content: '\e92f'; } /* 'î¤¯' */
  .icon-music-outline:before { content: '\e800'; } /* 'î €' */
  .icon-music:before { content: '\e801'; } /* 'î ' */
  .icon-search-outline:before { content: '\e802'; } /* 'î ‚' */
  .icon-search:before { content: '\e803'; } /* 'î ƒ' */
  .icon-mail:before { content: '\e806'; } /* 'î †' */
  .icon-heart:before { content: '\e807'; } /* 'î ‡' */
  .icon-heart-filled:before { content: '\e80e'; } /* 'î Ž' */
  .icon-star:before { content: '\e812'; } /* 'î ’' */
  .icon-star-filled:before { content: '\e818'; } /* 'î ˜' */
  .icon-user-outline:before { content: '\e814'; } /* 'î ”' */
  .icon-user:before { content: '\e81b'; } /* 'î ›' */
  .icon-users-outline:before { content: '\e823'; } /* 'î £' */
  .icon-users:before { content: '\e828'; } /* 'î ¨' */
  .icon-user-add-outline:before { content: '\e829'; } /* 'î ©' */
  .icon-user-add:before { content: '\e82a'; } /* 'î ª' */
  .icon-user-delete-outline:before { content: '\e82b'; } /* 'î «' */
  .icon-user-delete:before { content: '\e82c'; } /* 'î ¬' */
  .icon-video:before { content: '\e82d'; } /* 'î ­' */
  .icon-videocam-outline:before { content: '\e82e'; } /* 'î ®' */
  .icon-videocam:before { content: '\e82f'; } /* 'î ¯' */
  .icon-picture-outline:before { content: '\e80d'; } /* 'î ' */
  .icon-picture:before { content: '\e80c'; } /* 'î Œ' */
  .icon-camera-outline:before { content: '\e80b'; } /* 'î ‹' */
  .icon-camera:before { content: '\e80a'; } /* 'î Š' */
  .icon-th-outline:before { content: '\e809'; } /* 'î ‰' */
  .icon-th:before { content: '\e808'; } /* 'î ˆ' */
  .icon-th-large-outline:before { content: '\e80f'; } /* 'î ' */
  .icon-th-large:before { content: '\e810'; } /* 'î ' */
  .icon-th-list-outline:before { content: '\e813'; } /* 'î “' */
  .icon-th-list:before { content: '\e817'; } /* 'î —' */
  .icon-ok-outline:before { content: '\e822'; } /* 'î ¢' */
  .icon-ok:before { content: '\e824'; } /* 'î ¤' */
  .icon-cancel-outline:before { content: '\e825'; } /* 'î ¥' */
  .icon-cancel:before { content: '\e836'; } /* 'î ¶' */
  .icon-cancel-alt:before { content: '\e835'; } /* 'î µ' */
  .icon-cancel-alt-filled:before { content: '\e834'; } /* 'î ´' */
  .icon-cancel-circled-outline:before { content: '\e833'; } /* 'î ³' */
  .icon-cancel-circled:before { content: '\e832'; } /* 'î ²' */
  .icon-plus-outline:before { content: '\e831'; } /* 'î ±' */
  .icon-plus:before { content: '\e830'; } /* 'î °' */
  .icon-minus-outline:before { content: '\e837'; } /* 'î ·' */
  .icon-minus:before { content: '\e838'; } /* 'î ¸' */
  .icon-divide-outline:before { content: '\e839'; } /* 'î ¹' */
  .icon-divide:before { content: '\e83a'; } /* 'î º' */
  .icon-eq-outline:before { content: '\e83b'; } /* 'î »' */
  .icon-eq:before { content: '\e83c'; } /* 'î ¼' */
  .icon-info-outline:before { content: '\e83d'; } /* 'î ½' */
  .icon-info:before { content: '\e83e'; } /* 'î ¾' */
  .icon-home-outline:before { content: '\e83f'; } /* 'î ¿' */
  .icon-home:before { content: '\e840'; } /* 'î¡€' */
  .icon-link-outline:before { content: '\e841'; } /* 'î¡' */
  .icon-link:before { content: '\e842'; } /* 'î¡‚' */
  .icon-attach-outline:before { content: '\e843'; } /* 'î¡ƒ' */
  .icon-attach:before { content: '\e844'; } /* 'î¡„' */
  .icon-lock:before { content: '\e845'; } /* 'î¡…' */
  .icon-lock-filled:before { content: '\e846'; } /* 'î¡†' */
  .icon-lock-open:before { content: '\e847'; } /* 'î¡‡' */
  .icon-lock-open-filled:before { content: '\e848'; } /* 'î¡ˆ' */
  .icon-pin-outline:before { content: '\e849'; } /* 'î¡‰' */
  .icon-pin:before { content: '\e84a'; } /* 'î¡Š' */
  .icon-eye-outline:before { content: '\e84b'; } /* 'î¡‹' */
  .icon-eye:before { content: '\e84c'; } /* 'î¡Œ' */
  .icon-tag:before { content: '\e84d'; } /* 'î¡' */
  .icon-tags:before { content: '\e84e'; } /* 'î¡Ž' */
  .icon-bookmark:before { content: '\e84f'; } /* 'î¡' */
  .icon-flag:before { content: '\e850'; } /* 'î¡' */
  .icon-flag-filled:before { content: '\e851'; } /* 'î¡‘' */
  .icon-thumbs-up:before { content: '\e852'; } /* 'î¡’' */
  .icon-thumbs-down:before { content: '\e853'; } /* 'î¡“' */
  .icon-download-outline:before { content: '\e854'; } /* 'î¡”' */
  .icon-download:before { content: '\e855'; } /* 'î¡•' */
  .icon-upload-outline:before { content: '\e856'; } /* 'î¡–' */
  .icon-upload:before { content: '\e857'; } /* 'î¡—' */
  .icon-upload-cloud-outline:before { content: '\e858'; } /* 'î¡˜' */
  .icon-upload-cloud:before { content: '\e859'; } /* 'î¡™' */
  .icon-reply-outline:before { content: '\e85a'; } /* 'î¡š' */
  .icon-reply:before { content: '\e85b'; } /* 'î¡›' */
  .icon-forward-outline:before { content: '\e85c'; } /* 'î¡œ' */
  .icon-forward:before { content: '\e85d'; } /* 'î¡' */
  .icon-code-outline:before { content: '\e85e'; } /* 'î¡ž' */
  .icon-code:before { content: '\e85f'; } /* 'î¡Ÿ' */
  .icon-export-outline:before { content: '\e860'; } /* 'î¡ ' */
  .icon-export:before { content: '\e861'; } /* 'î¡¡' */
  .icon-pencil:before { content: '\e862'; } /* 'î¡¢' */
  .icon-pen:before { content: '\e863'; } /* 'î¡£' */
  .icon-feather:before { content: '\e866'; } /* 'î¡¦' */
  .icon-edit:before { content: '\e865'; } /* 'î¡¥' */
  .icon-print:before { content: '\e864'; } /* 'î¡¤' */
  .icon-comment:before { content: '\e867'; } /* 'î¡§' */
  .icon-chat:before { content: '\e868'; } /* 'î¡¨' */
  .icon-chat-alt:before { content: '\e869'; } /* 'î¡©' */
  .icon-bell:before { content: '\e86a'; } /* 'î¡ª' */
  .icon-attention:before { content: '\e86b'; } /* 'î¡«' */
  .icon-attention-filled:before { content: '\e86c'; } /* 'î¡¬' */
  .icon-warning-empty:before { content: '\e86d'; } /* 'î¡­' */
  .icon-warning:before { content: '\e86e'; } /* 'î¡®' */
  .icon-contacts:before { content: '\e86f'; } /* 'î¡¯' */
  .icon-vcard:before { content: '\e870'; } /* 'î¡°' */
  .icon-address:before { content: '\e871'; } /* 'î¡±' */
  .icon-location-outline:before { content: '\e872'; } /* 'î¡²' */
  .icon-location:before { content: '\e885'; } /* 'î¢…' */
  .icon-map:before { content: '\e884'; } /* 'î¢„' */
  .icon-direction-outline:before { content: '\e883'; } /* 'î¢ƒ' */
  .icon-direction:before { content: '\e882'; } /* 'î¢‚' */
  .icon-compass:before { content: '\e881'; } /* 'î¢' */
  .icon-trash:before { content: '\e880'; } /* 'î¢€' */
  .icon-doc:before { content: '\e87f'; } /* 'î¡¿' */
  .icon-doc-text:before { content: '\e87e'; } /* 'î¡¾' */
  .icon-doc-add:before { content: '\e87d'; } /* 'î¡½' */
  .icon-doc-remove:before { content: '\e87c'; } /* 'î¡¼' */
  .icon-news:before { content: '\e87b'; } /* 'î¡»' */
  .icon-folder:before { content: '\e87a'; } /* 'î¡º' */
  .icon-folder-add:before { content: '\e879'; } /* 'î¡¹' */
  .icon-folder-delete:before { content: '\e878'; } /* 'î¡¸' */
  .icon-archive:before { content: '\e877'; } /* 'î¡·' */
  .icon-box:before { content: '\e876'; } /* 'î¡¶' */
  .icon-rss-outline:before { content: '\e875'; } /* 'î¡µ' */
  .icon-rss:before { content: '\e73a'; } /* 'îœº' */
  .icon-phone-outline:before { content: '\e874'; } /* 'î¡´' */
  .icon-phone:before { content: '\e873'; } /* 'î¡³' */
  .icon-menu-outline:before { content: '\e886'; } /* 'î¢†' */
  .icon-menu:before { content: '\e887'; } /* 'î¢‡' */
  .icon-cog-outline:before { content: '\e888'; } /* 'î¢ˆ' */
  .icon-cog:before { content: '\e889'; } /* 'î¢‰' */
  .icon-wrench-outline:before { content: '\e88a'; } /* 'î¢Š' */
  .icon-wrench:before { content: '\e88b'; } /* 'î¢‹' */
  .icon-basket:before { content: '\e88c'; } /* 'î¢Œ' */
  .icon-calendar-outlilne:before { content: '\e88d'; } /* 'î¢' */
  .icon-calendar:before { content: '\e88e'; } /* 'î¢Ž' */
  .icon-mic-outline:before { content: '\e88f'; } /* 'î¢' */
  .icon-mic:before { content: '\e890'; } /* 'î¢' */
  .icon-volume-off:before { content: '\e891'; } /* 'î¢‘' */
  .icon-volume-low:before { content: '\e892'; } /* 'î¢’' */
  .icon-volume-middle:before { content: '\e893'; } /* 'î¢“' */
  .icon-volume-high:before { content: '\e894'; } /* 'î¢”' */
  .icon-headphones:before { content: '\e895'; } /* 'î¢•' */
  .icon-wristwatch:before { content: '\e896'; } /* 'î¢–' */
  .icon-stopwatch:before { content: '\e897'; } /* 'î¢—' */
  .icon-lightbulb:before { content: '\e898'; } /* 'î¢˜' */
  .icon-block-outline:before { content: '\e899'; } /* 'î¢™' */
  .icon-block:before { content: '\e89a'; } /* 'î¢š' */
  .icon-quote-right:before { content: '\e929'; } /* 'î¤©' */
  .icon-resize-full:before { content: '\e89c'; } /* 'î¢œ' */
  .icon-resize-normal-outline:before { content: '\e89d'; } /* 'î¢' */
  .icon-resize-normal:before { content: '\e89e'; } /* 'î¢ž' */
  .icon-move-outline:before { content: '\e89f'; } /* 'î¢Ÿ' */
  .icon-move:before { content: '\e8a0'; } /* 'î¢ ' */
  .icon-popup:before { content: '\e8a1'; } /* 'î¢¡' */
  .icon-zoom-in-outline:before { content: '\e8a2'; } /* 'î¢¢' */
  .icon-zoom-in:before { content: '\e8a3'; } /* 'î¢£' */
  .icon-zoom-out-outline:before { content: '\e8a4'; } /* 'î¢¤' */
  .icon-zoom-out:before { content: '\e8a5'; } /* 'î¢¥' */
  .icon-popup-1:before { content: '\e8a6'; } /* 'î¢¦' */
  .icon-left-open-outline:before { content: '\e8a7'; } /* 'î¢§' */
  .icon-left-open:before { content: '\e8a8'; } /* 'î¢¨' */
  .icon-right-open-outline:before { content: '\e8a9'; } /* 'î¢©' */
  .icon-right-open:before { content: '\e8aa'; } /* 'î¢ª' */
  .icon-down:before { content: '\e8ab'; } /* 'î¢«' */
  .icon-left:before { content: '\e8ac'; } /* 'î¢¬' */
  .icon-right:before { content: '\e8ad'; } /* 'î¢­' */
  .icon-up:before { content: '\e8ae'; } /* 'î¢®' */
  .icon-down-outline:before { content: '\e8af'; } /* 'î¢¯' */
  .icon-left-outline:before { content: '\e8b0'; } /* 'î¢°' */
  .icon-right-outline:before { content: '\e8b1'; } /* 'î¢±' */
  .icon-up-outline:before { content: '\e8b2'; } /* 'î¢²' */
  .icon-down-small:before { content: '\e8b3'; } /* 'î¢³' */
  .icon-left-small:before { content: '\e8b4'; } /* 'î¢´' */
  .icon-right-small:before { content: '\e8b5'; } /* 'î¢µ' */
  .icon-up-small:before { content: '\e8b6'; } /* 'î¢¶' */
  .icon-cw-outline:before { content: '\e8b7'; } /* 'î¢·' */
  .icon-cw:before { content: '\e8b8'; } /* 'î¢¸' */
  .icon-arrows-cw-outline:before { content: '\e8b9'; } /* 'î¢¹' */
  .icon-arrows-cw:before { content: '\e8ba'; } /* 'î¢º' */
  .icon-loop-outline:before { content: '\e8bb'; } /* 'î¢»' */
  .icon-loop:before { content: '\e8bc'; } /* 'î¢¼' */
  .icon-loop-alt-outline:before { content: '\e8bd'; } /* 'î¢½' */
  .icon-loop-alt:before { content: '\e8be'; } /* 'î¢¾' */
  .icon-shuffle:before { content: '\e8bf'; } /* 'î¢¿' */
  .icon-play-outline:before { content: '\e8c0'; } /* 'î£€' */
  .icon-play:before { content: '\e8c1'; } /* 'î£' */
  .icon-stop-outline:before { content: '\e8c2'; } /* 'î£‚' */
  .icon-stop:before { content: '\e8c3'; } /* 'î£ƒ' */
  .icon-pause-outline:before { content: '\e8c4'; } /* 'î£„' */
  .icon-pause:before { content: '\e8c5'; } /* 'î£…' */
  .icon-fast-fw-outline:before { content: '\e8c6'; } /* 'î£†' */
  .icon-fast-fw:before { content: '\e8c7'; } /* 'î£‡' */
  .icon-rewind-outline:before { content: '\e8c8'; } /* 'î£ˆ' */
  .icon-rewind:before { content: '\e8c9'; } /* 'î£‰' */
  .icon-record-outline:before { content: '\e8ca'; } /* 'î£Š' */
  .icon-record:before { content: '\e8cb'; } /* 'î£‹' */
  .icon-eject-outline:before { content: '\e8cc'; } /* 'î£Œ' */
  .icon-eject:before { content: '\e8cd'; } /* 'î£' */
  .icon-eject-alt-outline:before { content: '\e8ce'; } /* 'î£Ž' */
  .icon-eject-alt:before { content: '\e8cf'; } /* 'î£' */
  .icon-bat1:before { content: '\e8d0'; } /* 'î£' */
  .icon-bat2:before { content: '\e8d1'; } /* 'î£‘' */
  .icon-bat3:before { content: '\e8d2'; } /* 'î£’' */
  .icon-bat4:before { content: '\e8d3'; } /* 'î£“' */
  .icon-bat-charge:before { content: '\e8d4'; } /* 'î£”' */
  .icon-plug:before { content: '\e8d5'; } /* 'î£•' */
  .icon-target-outline:before { content: '\e8e0'; } /* 'î£ ' */
  .icon-target:before { content: '\e8e5'; } /* 'î£¥' */
  .icon-wifi-outline:before { content: '\e8e6'; } /* 'î£¦' */
  .icon-wifi:before { content: '\e8e7'; } /* 'î£§' */
  .icon-desktop:before { content: '\e8f5'; } /* 'î£µ' */
  .icon-laptop:before { content: '\e8f4'; } /* 'î£´' */
  .icon-tablet:before { content: '\e8f6'; } /* 'î£¶' */
  .icon-mobile:before { content: '\e8f7'; } /* 'î£·' */
  .icon-contrast:before { content: '\e8f8'; } /* 'î£¸' */
  .icon-globe-outline:before { content: '\e90a'; } /* 'î¤Š' */
  .icon-globe:before { content: '\e90b'; } /* 'î¤‹' */
  .icon-globe-alt-outline:before { content: '\e90c'; } /* 'î¤Œ' */
  .icon-globe-alt:before { content: '\e90d'; } /* 'î¤' */
  .icon-sun:before { content: '\e90e'; } /* 'î¤Ž' */
  .icon-sun-filled:before { content: '\e90f'; } /* 'î¤' */
  .icon-cloud:before { content: '\e910'; } /* 'î¤' */
  .icon-flash-outline:before { content: '\e911'; } /* 'î¤‘' */
  .icon-flash:before { content: '\e912'; } /* 'î¤’' */
  .icon-moon:before { content: '\e913'; } /* 'î¤“' */
  .icon-waves-outline:before { content: '\e8d6'; } /* 'î£–' */
  .icon-waves:before { content: '\e8df'; } /* 'î£Ÿ' */
  .icon-rain:before { content: '\e8e4'; } /* 'î£¤' */
  .icon-cloud-sun:before { content: '\e8e8'; } /* 'î£¨' */
  .icon-drizzle:before { content: '\e8e9'; } /* 'î£©' */
  .icon-snow:before { content: '\e8f2'; } /* 'î£²' */
  .icon-cloud-flash:before { content: '\e8f3'; } /* 'î£³' */
  .icon-cloud-wind:before { content: '\e8f9'; } /* 'î£¹' */
  .icon-wind:before { content: '\e8fa'; } /* 'î£º' */
  .icon-plane-outline:before { content: '\e8fb'; } /* 'î£»' */
  .icon-plane:before { content: '\e902'; } /* 'î¤‚' */
  .icon-leaf:before { content: '\e905'; } /* 'î¤…' */
  .icon-lifebuoy:before { content: '\e906'; } /* 'î¤†' */
  .icon-briefcase:before { content: '\e907'; } /* 'î¤‡' */
  .icon-brush:before { content: '\e908'; } /* 'î¤ˆ' */
  .icon-pipette:before { content: '\e909'; } /* 'î¤‰' */
  .icon-power-outline:before { content: '\e914'; } /* 'î¤”' */
  .icon-power:before { content: '\e915'; } /* 'î¤•' */
  .icon-check-outline:before { content: '\e916'; } /* 'î¤–' */
  .icon-check:before { content: '\e917'; } /* 'î¤—' */
  .icon-gift:before { content: '\e8d7'; } /* 'î£—' */
  .icon-temperatire:before { content: '\e8de'; } /* 'î£ž' */
  .icon-chart-outline:before { content: '\e8e3'; } /* 'î££' */
  .icon-chart:before { content: '\e8ea'; } /* 'î£ª' */
  .icon-chart-alt-outline:before { content: '\e8eb'; } /* 'î£«' */
  .icon-chart-alt:before { content: '\e8f1'; } /* 'î£±' */
  .icon-chart-bar-outline:before { content: '\e8f0'; } /* 'î£°' */
  .icon-chart-bar:before { content: '\e8fc'; } /* 'î£¼' */
  .icon-chart-pie-outline:before { content: '\e8fd'; } /* 'î£½' */
  .icon-chart-pie:before { content: '\e8fe'; } /* 'î£¾' */
  .icon-credit-card:before { content: '\e904'; } /* 'î¤„' */
  .icon-clipboard:before { content: '\e918'; } /* 'î¤˜' */
  .icon-key-outline:before { content: '\e919'; } /* 'î¤™' */
  .icon-key:before { content: '\e91a'; } /* 'î¤š' */
  .icon-flow-split:before { content: '\e91b'; } /* 'î¤›' */
  .icon-flow-merge:before { content: '\e91c'; } /* 'î¤œ' */
  .icon-flow-parallel:before { content: '\e91d'; } /* 'î¤' */
  .icon-flow-cross:before { content: '\e91e'; } /* 'î¤ž' */
  .icon-certificate-outline:before { content: '\e8d8'; } /* 'î£˜' */
  .icon-certificate:before { content: '\e8dd'; } /* 'î£' */
  .icon-scissors-outline:before { content: '\e8e2'; } /* 'î£¢' */
  .icon-scissors:before { content: '\e8e1'; } /* 'î£¡' */
  .icon-flask:before { content: '\e8ec'; } /* 'î£¬' */
  .icon-wine:before { content: '\e8ed'; } /* 'î£­' */
  .icon-coffee:before { content: '\e8ef'; } /* 'î£¯' */
  .icon-beer:before { content: '\e8ff'; } /* 'î£¿' */
  .icon-anchor-outline:before { content: '\e900'; } /* 'î¤€' */
  .icon-anchor:before { content: '\e901'; } /* 'î¤' */
  .icon-puzzle-outline:before { content: '\e903'; } /* 'î¤ƒ' */
  .icon-puzzle:before { content: '\e91f'; } /* 'î¤Ÿ' */
  .icon-tree:before { content: '\e920'; } /* 'î¤ ' */
  .icon-calculator:before { content: '\e921'; } /* 'î¤¡' */
  .icon-infinity-outline:before { content: '\e922'; } /* 'î¤¢' */
  .icon-infinity:before { content: '\e923'; } /* 'î¤£' */
  .icon-pi-outline:before { content: '\e924'; } /* 'î¤¤' */
  .icon-pi:before { content: '\e925'; } /* 'î¤¥' */
  .icon-at:before { content: '\e926'; } /* 'î¤¦' */
  .icon-at-circled:before { content: '\e927'; } /* 'î¤§' */
  .icon-looped-square-outline:before { content: '\e8d9'; } /* 'î£™' */
  .icon-looped-square-interest:before { content: '\e8dc'; } /* 'î£œ' */
  .icon-sort-alphabet-outline:before { content: '\e8da'; } /* 'î£š' */
  .icon-sort-alphabet:before { content: '\e8db'; } /* 'î£›' */
  .icon-sort-numeric-outline:before { content: '\e8ee'; } /* 'î£®' */
  .icon-gplus-1:before { content: '\e815'; } /* 'î •' */
  .icon-reddit:before { content: '\e821'; } /* 'î ¡' */
  .icon-dribbble:before { content: '\e816'; } /* 'î –' */
  .icon-flickr:before { content: '\e820'; } /* 'î  ' */
  .icon-linkedin-1:before { content: '\e81c'; } /* 'î œ' */
  .icon-rss-3:before { content: '\e81f'; } /* 'î Ÿ' */
  .icon-youtube:before { content: '\e81e'; } /* 'î ž' */
  .icon-vimeo:before { content: '\e819'; } /* 'î ™' */
  .icon-yahoo:before { content: '\e811'; } /* 'î ‘' */
  .icon-tumblr-1:before { content: '\e81a'; } /* 'î š' */
  .icon-facebook-1:before { content: '\e826'; } /* 'î ¦' */
  .icon-twitter-bird:before { content: '\e827'; } /* 'î §' */
  .icon-resize-full-outline:before { content: '\e89b'; } /* 'î¢›' */