{{ define "main" }}
{{ .Content }}
<!-- TODO: Add NoIndex NoFollow -->
<!-- imgAlt, image-->
<table>
    <tr>
        <th>Title</th>
        <th>List Title</th>
        <th>Headings</th>
        <th>Description</th>
    </tr>
    {{ range .Site.Pages }}
    <tr>
        {{ if .Description }}
        <td><a href="{{ .Permalink }}">{{ title .Title }}</a></td>
        <td>{{ .Params.TitleList }}</td>
        <td>{{ .Params.Heading }}</td>
        <td>{{ .Description }}</td>
        {{ else }}
        <td><a style="color:red" href="{{ .Permalink }}">{{ title .Title }}</a></td>
        <td>{{ .Params.TitleList }}</td>
        <td>{{ .Params.Heading }}</td>
        <td></td>
        {{ end }}
    </tr>
    {{ end }}
</table>
{{ end }}
