<h1>Resources</h1>
<p class="lead">
    How can we help you? We’ve put together all the helpful resources and information we think you’ll need to streamline your workflow. Still have questions? Please <a href="/contact-us" title="Contact Stock2Shop">contact us</a>, we’d love to answer them.
</p>

<hr />

<div class="row">
    <div class="col-md-6">
        <h2>Documentation</h2>
        <p>All the concepts and information you need to start integrating the Stock2Shop system. Our highly skilled team is available for support from sales through set-up and beyond, and we’ll happily answer any questions you have.
        </p>
        <a title="Find answers in our Documentation" href="/documentation/">Find answers in our Documentation</a>
    </div>
    
    <div class="col-md-6">
        <h2>Developers</h2>
        <p>Stock2Shop has a well defined API that allows you to simply integrate with your inventory system and your various sales channels.</p>
        <a title="Get all the developer information you need" href="/developers/">Get all the developer information you need</a>
    </div>
    
    <div class="col-md-6">
        <h2>Success Stories</h2>
        <p>Find out how we’ve helped other clients to streamline their business, find solutions and save time. Each business is unique, so we work with our clients to create the workflow that’s best for them.</p>

        <a title="Read about the businesses we helped" href="/case-studies/">Read more Success Stories</a>
    </div>
    
    <div class="col-md-6">
        <h2>Articles</h2>
        <p>Helpful articles on every aspect of e-commerce: B2B and B2C, product data, supply chain integration, order fulfillment and more.</p>
        <a title="Learn more about e-commerce" href="/articles/">Learn more about e-commerce</a>
    </div>
    
</div>