<section class="page">
    <!--<header class="page-header">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-sm-6">-->
<!--                --><!--                    <h1>Page Not Found</h1>-->
<!--                --><!--                    <h1>--><!--"</i></h1>-->
<!--                --><!--                    <h1>Blog Post</h1>-->
<!--                --><!--                    <h1>--><!--</h1>-->
<!--                --><!--                    <h1>--><!--</h1>-->
<!--                --><!--            </div>-->
<!--            <div class="col-sm-6 hidden-xs">-->
<!--                --><!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->        <section class="mt30 mb30">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Contact Us</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Phone:</h4>
                    <address>
                        +27 (0)21 813 5866<br/>
                    </address>
                </div>
                <form method="post" action="https://www.stock2shop.com/wp-admin/admin-ajax.php" id="contactfrm" role="form">
<input type="hidden" class="BotCheck" name="botCheck" value="">
<div id="form-response"></div>
<div class="col-sm-4">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter name"  title="Please enter your name (at least 2 characters)"/>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" title="Please enter a valid email address"/>
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input name="phone" class="form-control digits" type="tel" id="phone" size="30" value="" placeholder="Enter phone" title="Please enter a valid phone number (at least 10 characters)">
    </div>
</div>
<div class="col-sm-4">
    <div class="form-group">
        <label for="comments">Comments</label>
        <textarea name="comment" class="form-control required" id="comments" cols="3" rows="5" placeholder="Enter your message…" title="Please enter your message (at least 10 characters)"></textarea>
    </div>
    <button name="submit" type="submit" class="btn btn-success btn-more" id="submit"> Send</button>
</div>
</form>                </div>
        </div>
    </section>
</section>