{{ define "main" }}

<div class="wrapper">
    {{- partial "header-alt.html" . -}}

    <div class="hero-alt">
        <div class="container">
            <div class="hero__content">
                <img src="{{ .Params.image }}" width="{{ .Params.imageWidth }}">

                <h1>{{ title .Title }}</h1>
                
                <p>{{ .Params.Lead }}</p>
            </div><!-- /.hero__content -->
        </div><!-- /.container -->
    </div><!-- /.hero-alt -->

    <section class="section section--size1">
        <div class="container">
            <header class="section__head">
                <h2>{{ .Params.titleProduct }}</h2>

                <p>{{ .Params.subtitleProduct }}</p>
            </header><!-- /.section__head -->

            <div class="section__image-alt">
                <img src="{{ .Params.imageDestopProduct }}" alt="{{ .Params.titleProduct }}" width="{{ .Params.imageDestopWidthProduct }}" class="hidden-mobile">

                <img src="{{ .Params.imageMobileProduct }}" alt="{{ .Params.titleProduct }}" class="visible-mobile">
            </div><!-- /.section__image -->

            <div class="section__actions visible-mobile">
                <a href="{{ .Params.buttonHrefProduct }}" class="btn btn--medium">{{ .Params.buttonTextProduct }}</a>
            </div><!-- /.section__actions -->
        </div><!-- /.container -->
    </section><!-- /.section -->

    <section class="section section--gray section section--size1">
        <div class="container">
            <header class="section__head">
                <h2>{{ .Params.titleCustomer }}</h2>
 
                <p>{{ .Params.subtitleCustomer }}</p>
            </header><!-- /.section__head -->

            <div class="section__image-alt">
                <img src="{{ .Params.imageDestopCustomer }}" alt="{{ .Params.titleCustomer }}" width="{{ .Params.imageDestopWidthCustomer }}" class="hidden-mobile">

                <img src="{{ .Params.imageMobileCustomer }}" alt="{{ .Params.titleCustomer }}" class="visible-mobile">
            </div><!-- /.section__image -->

            <div class="section__actions visible-mobile">
                <a href="{{ .Params.buttonHrefCustomer }}" class="btn btn--medium">{{ .Params.buttonTextCustomer }}</a>
            </div><!-- /.section__actions -->
        </div><!-- /.container -->
    </section><!-- /.section -->

    <section class="section section section--size1">
        <div class="container">
            <header class="section__head">
                <h2>{{ .Params.titleOrders }}</h2>

                <p>{{ .Params.subtitleOrders }}</p>
            </header><!-- /.section__head -->

            <div class="section__image-alt">
                <img src="{{ .Params.imageDestopOrders }}" alt="{{ .Params.titleOrders }}" width="{{ .Params.imageDestopWidthOrders }}" class="hidden-mobile">

                <img src="{{ .Params.imageMobileOrders }}" alt="{{ .Params.titleOrders }}" class="visible-mobile">
            </div><!-- /.section__image -->

            <div class="section__actions visible-mobile">
                <a href="{{ .Params.buttonHrefOrders }}" class="btn btn--medium">{{ .Params.buttonTextOrders }}</a>
            </div><!-- /.section__actions -->
        </div><!-- /.container -->
    </section><!-- /.section -->

    <section class="section section--gray section section--size1">
        <div class="container">
            <header class="section__head">
                <h2>{{ .Params.titleFullfilments }}</h2>
 
                <p>{{ .Params.subtitleFullfilments }}</p>
            </header><!-- /.section__head -->

            <div class="section__image-alt">
                <img src="{{ .Params.imageDestopFullfilments }}" alt="{{ .Params.titleFullfilments }}" width="{{ .Params.imageDestopWidthFullfilments }}" class="hidden-mobile">

                <img src="{{ .Params.imageMobileFullfilments }}" alt="{{ .Params.titleFullfilments }}" class="visible-mobile">
            </div><!-- /.section__image -->

            <div class="section__actions visible-mobile">
                <a href="{{ .Params.buttonHrefFullfilments }}" class="btn btn--medium">{{ .Params.buttonTextFullfilments }}</a>
            </div><!-- /.section__actions -->
        </div><!-- /.container -->
    </section><!-- /.section -->

    <section class="section section--services">
        <div class="container">
            <header class="section__head">
                <h2>{{ .Params.titleIntegrations }}</h2>
                
                <p>{{ .Params.subtitleIntegrations }}</p>
            </header><!-- /.section__head -->

            <div class="services">
                <div class="row">
                    <div class="col-md-6">
                        <div class="service">
                            <i class="{{ .Params.iconServiceECommerce }} service__ico"></i>

                            <h4>{{ .Params.titleServiceECommerce }} for {{ .Params.seoTitle }}:</h4>

                            <p>{{ .Params.subtitleServiceECommerce }}</p>

                            <ul>
                                <li>
                                    <a href="{{ .Params.sapShopifyLinkHref }}" class="link">{{ .Params.sapShopifyLinkText }} <i class="ico-arrow-right"></i></a>
                                </li>
                                
                                <li>
                                    <a href="{{ .Params.sapMagentoLinkHref }}" class="link">{{ .Params.sapMagentoLinkText }} <i class="ico-arrow-right"></i></a>
                                </li>
                                
                                <li>
                                    <a href="{{ .Params.sapWooCommerceLinkHref }}" class="link">{{ .Params.sapWooCommerceLinkText }} <i class="ico-arrow-right"></i></a>
                                </li>
                            </ul>
                        </div><!-- /.service -->
                    </div><!-- /.col-md- offset-md- -->

                    <div class="col-md-6">
                        <div class="service">
                            <i class="{{ .Params.iconServiceB2b }} service__ico"></i>

                            <h4>{{ .Params.titleServiceB2b }} for {{ .Params.seoTitle }}:</h4>

                            <p>{{ .Params.subtitleServiceB2b }}</p>

                            <ul>
                                <li>
                                   <a href="{{ .Params.sapB2bLinkHref }}" class="link">{{ .Params.sapB2bLinkText }} <i class="ico-arrow-right"></i></a>
                                </li>
                            </ul>
                        </div><!-- /.service -->
                    </div><!-- /.col-md- offset-md- -->

                    <div class="col-md-6">
                        <div class="service">
                            <i class="{{ .Params.iconServiceFulfilment }} service__ico"></i>

                            <h4>{{ .Params.titleServiceFulfilment }}</h4>

                            <p>{{ .Params.subtitleServiceFulfilment }}</p>

                            <ul>
                                <li>
                                   <a href="{{ .Params.sapB2bLinkHref }}" class="link">{{ .Params.sapB2bLinkText }} <i class="ico-arrow-right"></i></a>
                                </li>
                            </ul>
                        </div><!-- /.service -->
                    </div><!-- /.col-md- offset-md- -->

                    <div class="col-md-6">
                        <div class="service">
                            <i class="{{ .Params.iconServiceMarketplace }} service__ico"></i>

                            <h4>{{ .Params.titleServiceMarketplace }} for {{ .Params.seoTitle }}:</h4>

                            <p>{{ .Params.subtitleServiceMarketplace }}</p>

                            <ul>
                                <li>
                                   <a href="{{ .Params.sapTakealotLinkHref }}" class="link">{{ .Params.sapTakealotLinkText }} <i class="ico-arrow-right"></i></a>
                                </li>
                            </ul>
                        </div><!-- /.service -->
                    </div><!-- /.col-md- offset-md- -->
                </div><!-- /.row -->
            </div><!-- /.services -->   
        </div><!-- /.container -->
    </section><!-- /.section -->

    {{- partial "support-information.html" . -}}
    
    {{- partial "contact.html" . -}}

    {{- partial "footer.html" . -}}
</div><!-- /.wrapper --> 

{{ end }}