{{ define "main" }}
<h1>{{ if .Params.heading }}{{ title .Params.heading }}{{ else }}{{ title .Title }}{{ end }}</h1>
<p class="lead">{{ .Params.Lead }}</p>
<hr>

<h3>ERPs</h3>
<div class="row">
    {{ range where .Site.Pages "Type" "source" }}
    <div class="col ">
        <div class="card" style="width: 18rem;">
            <a href="{{ .Permalink }}" title="{{ title .Title }} integration">
                <img src="{{ .Params.image }}" class="card-img-top" alt="{{ .Params.imageAlt }}">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ title .Title }}</h5>
                <p class="card-text">
                    {{ .Summary }}
                </p>
            </div>
        </div>
    </div>
    {{ end }}
</div>
<h3>Channels</h3>
<div class="row">
    {{ range where .Site.Pages "Type" "channel" }}
    <div class="col ">
        <div class="card" style="width: 18rem;">
            <a href="{{ .Permalink }}"><img src="{{ .Params.image }}" class="card-img-top" alt="{{ .Params.imageAlt }}">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ title .Title }}</h5>
                <p class="card-text">
                    {{ .Summary }}
                </p>
            </div>
        </div>
    </div>
    {{ end }}
</div>
<h3>Fulfillment Services</h3>
<div class="row">
    {{ range where .Site.Pages "Type" "fulfillment" }}
    <div class="col ">
        <div class="card" style="width: 18rem;">
            <a href="{{ .Permalink }}"><img src="{{ .Params.image }}" class="card-img-top" alt="{{ .Params.imageAlt }}">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ title .Title }}</h5>
                <p class="card-text">
                    {{ .Summary }}
                </p>
            </div>
        </div>
    </div>
    {{ end }}
</div>
<h3>Market Places</h3>
<div class="row">
    {{ range where .Site.Pages "Type" "marketplace" }}
    <div class="col ">
        <div class="card" style="width: 18rem;">
            <a href="{{ .Permalink }}"><img src="{{ .Params.image }}" class="card-img-top" alt="{{ .Params.imageAlt }}">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ title .Title }}</h5>
                <p class="card-text">
                    {{ .Summary }}
                </p>
            </div>
        </div>
    </div>
    {{ end }}
</div>

<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-md-8"><img src="/uploads/SYSTEM-INTEGRATION.jpg" alt="System Integration" class="img-responsive"></div>
        <div class="col-md-4">
            <h2 id="system-integration">
                System integration
            </h2>
            <p class="text-justify">
                We help you find the <strong>ideal system integration</strong>. We understand your supply chain needs, figure out where things need to be automated, and advise you how to run the best possible system, with minimum disruption, at minimum cost. And we <strong>support you throughout the process</strong>: available on phone or email to assist with any queries. We set up the processes and then empower you to run it yourself.
            </p></div>
    </div>
</div>

<section class="pt-5 pb-5 bg-light fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 id="sync-inventory">
                    Automatically sync inventory
                </h2>
                <p class="text-justify">
                    We <strong>integrate <a href="/integrations/" title="Integrations">your applications</a></strong>: between Sage, SYSPRO, iSync or SAP, and Shopify, Magento, WooCommerce and B2B trade stores. And then we sync your inventory data – multiple price lists, descriptions, warehousing information and more – near real time. This means a far more efficient system, far less risk of human error, and far more time to spend doing what you do best: growing your business.
                </p>
            </div>
            <div class="col-md-8"><img src="/uploads/AUTOMATICALLY-SYNC-INVENTORY.jpg" alt="Automatically sync inventory" class="img-responsive"></div>
        </div>
    </div>
</section>

<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-md-8"><img src="/uploads/ORDER-MANAGEMENT.jpg" alt="Order management" class="img-responsive"></div>
        <div class="col-md-4">
            <h2 id="order-management">
                Order management
            </h2>
            <p class="text-justify">
                We let you receive orders from multiple sales channels and push orders to your ERP or accounting system in
                real time. We’ve got your orders sorted from your customer’s first click to delivery: with <strong>custom workflows
                suited to your ordering needs</strong>, and the option to set up specific customer accounts or integrate with
                fulfillment services for picking, packing and delivery. We can also automate drop shipping for you.
            </p>
        </div>
    </div>
</div>

{{ partial "contact-us-footer.html" }}
{{ end }}


