{{ define "main" }}
    <h1>{{ if .Params.heading }}{{ title .Params.heading }}{{ else }}{{ title .Title }}{{ end }}</h1>
    {{with .PrevInSection }}
    <input type="button" onclick="location.href='{{.Permalink}}';" value="<" />
    {{end}}
    {{with .NextInSection }}
    <input type="button" onclick="location.href='{{.Permalink}}';" value=">" />
    {{end}}
    <p class="lead">{{ .Params.Lead }}</p>
    {{ if .Params.Lead2 }}
    <p class="lead">{{ .Params.Lead2 }}</p>
    {{ end }}
    <hr>
    {{ .Content }}
{{ end }}