{{ define "main" }}
    {{ if .Params.heading }}
    <h1>{{ title .Params.heading }}</h1>
    {{ else }}
    <h1>{{ title .Title }}</h1>
    {{ end }}
    <p class="lead">{{ .Params.Lead }}</p>
    {{ .Content }}
    <div class="card-deck" id="articles">
        {{ range .Pages }}
        <div class="card">
            <a href="{{ .Page.RelPermalink }}"><img src="{{ .Params.image }}" class="card-img-top" alt="{{ .Params.imageAlt }}"></a>
            <div class="card-body">
                <h5 class="card-title"><a href="{{ .Page.RelPermalink }}">{{ title .Page.Title }}</a></h5>
                <p class="card-text">{{ .Summary }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ dateFormat "January 2 2006" .Date }}</small>
            </div>
        </div>
        {{ end }}
    </div>
{{ end }}