{{ define "main" }}
<div class="wrapper">
    {{- partial "header-alt.html" . -}}

    <section class="section-blog">
        <div class="container">
            <div class="section__content">
                <img src="{{ .Params.image }}" alt="{{ .Params.imageAlt }}">

                <h6 class="section__date">{{ .Params.date.Format "January 2 2006" }}</h6> 

                {{ .Content }}
            </div><!-- /.section__content -->

            <div class="article article--small">
                <div class="article__image">
                    <img src="/images/a71.png" alt="Be first to know">
                </div><!-- /.article__image -->

                <div class="article__content">
                    <h2>Be first to know</h2>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo
                    </p>

                    <a href="#" class="btn btn--medium">Sign up today</a>
                </div><!-- /.article__content -->

                <i class="ico-circle-big"></i>
            </div><!-- /.article-small -->
        </div><!-- /.container -->
    </section><!-- /.section -->

    <section class="section section--gray section--primary">
        <div class="container">
            <header class="section__head">
                <h2>Related Articles</h2>
            </header><!-- /.section__head -->

            <div class="section__body">
                {{- partial "cards.html" . -}}
            </div><!-- /.section__body -->
        </div><!-- /.container -->
    </section><!-- /.section -->

    <section class="section section--red">
        <div class="container">
            <div class="section__content">
                <h2>Contact Us</h2>

                <p>
                    Want to find out exactly how Stock2Shop can make your business more efficient and streamlined?
                </p>

                <a href="#" class="btn btn--medium">Contact Us</a>
            </div><!-- /.section__content -->
        </div><!-- /.container -->
    </section><!-- /.section -->

    {{- partial "footer.html" . -}}
</div><!-- /.wrapper --> 
{{ end }}