{{ define "main" }}
<div class="row">
    <aside class="col-md-3">
        <!-- This only works on top level section -->
        <nav class="nav flex-column">
            <a class="nav-link" href="/articles">Articles</a>
        {{ range where .Site.RegularPages "Section" "articles" }}
            <a class="nav-link" href="{{ .Permalink }}">{{ title .Title }}</a>
        {{ end }}
        </nav>
    </aside>
    <div class="col-md-9">
        {{ if .Params.title2 }}
        <h1>{{ title .Params.title2 }}</h1>
        {{ else }}
        <h1>{{ title .Title }}</h1>
        {{ end }}
        <p class="lead">{{ .Params.lead }}</p>
        {{ .Content }}
        <hr>
        <div class="row">
            <div class="col-md-8">
                <h6>Want to find out exactly how Stock2Shop can make your business more efficient and streamlined?</h6>
            </div>
            <div class="col-md-4">
                <input type="button" class="btn-sm ml-3" onclick="location.href='/contact-us'" value="Contact Us">
            </div>
        </div>
    </div>
</div>
{{ end }}