{{ define "main" }}
    {{ if .Params.heading }}
    <h1>{{ title .Params.heading }}</h1>
    {{ else }}
    <h1>{{ title .Title }}</h1>
    {{ end }}
    <p class="lead">{{ .Params.Lead }}</p>
    <hr>
    {{ .Content }}
    <div class="card-deck">
        {{ range .Pages }}
        <div class="card border-0">
            <a class="border" href="{{ .Page.RelPermalink }}"><img src="{{ .Params.image }}" class="card-img-top" alt="{{ .Params.imageAlt }}"></a>
            <div class="card-body">
                <h5 class="card-title"><a href="{{ .Page.RelPermalink }}">{{ title .Page.Title }}</a></h5>
                <p class="card-text">{{ .Params.Summary }}</p>
            </div>
        </div>
        {{ end }}
    </div>
    <hr>
    <h2>More Happy Clients</h2>
    {{ partial "happy_clients.html" . }}
{{ end }}