{{ define "main" }}
    <h2>Our Clients</h2>
    <p>{{ .Description }}</p>
    {{ .Content }}
    <div class="card-deck">
        {{ range .Pages }}
        <div class="card">
            <img src="https://via.placeholder.com/365x200.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title"><a href="{{ .Page.RelPermalink }}">{{ title .Page.Title }}</a></h5>
                <p class="card-text">{{ .Summary }}</p>
            </div>
        </div>
        {{ end }}
    </div>
{{ end }}