{{ define "main" }}
<div class="row">
    <aside class="col-md-3">
        <!-- This only works on top level section -->
        <nav class="nav flex-column">
            <a class="nav-link" href="/case-studies">Case Studies</a>
        {{ range where .Site.RegularPages "Section" "case-studies" }}
            <a class="nav-link" href="{{ .Permalink }}">{{ title .Title }}</a>
        {{ end }}
        </nav>
    </aside>
    <div class="col-md-9">
        <h1>{{ if .Params.heading }}{{ title .Params.heading }}{{ else }}{{ title .Title }}{{ end }}</h1>
        <p class="lead">{{ .Params.Lead }}</p>
        {{ .Content }}
    </div>
</div>
{{ end }}