{{ define "main" }}
<div class="wrapper">
    {{- partial "header-alt.html" . -}}

    <div class="hero-alt">
        <div class="container">
            <div class="hero__content">
                <img src="{{ .Params.image }}" width="{{ .Params.imageWidth }}">

                <h1>{{ if .Params.heading }}{{ title .Params.heading }}{{ else }}{{ title .Title }}{{ end }}</h1>            
                
                <p>{{ .Params.Lead }}</p>
            </div><!-- /.hero__content -->
        </div><!-- /.container -->
    </div><!-- /.hero-alt -->

    {{- partial "footer.html" . -}}
</div><!-- /.wrapper --> 
{{ end }}

<!-- {{$channelTitle := .Title}}
<h1>{{ title .Title }} Integration</h1>
<p class="lead">{{ .Params.Lead }}</p>

{{ .Content }}

<h3>Available integrations for {{ .Title }}</h3>

<div class="row">
    {{ range where .Site.Pages "Type" "source" }}
    <div class="col ">
        <div class="card" style="width: 18rem;">
            <a href="/integrations/{{.Title | urlize}}-{{ $channelTitle | urlize }}" title="Integrate {{ .Title }} with {{ $channelTitle }}">
                <img src="{{ .Params.image }}" class="card-img-top" alt="{{ .Params.imageAlt }}">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ title .Title }}</h5>
                <p class="card-text">
                    {{ .Summary }}
                </p>
            </div>
        </div>
    </div>
    {{ end }}
    {{ range where .Site.Pages "Type" "fulfillment" }}
    <div class="col ">
        <div class="card" style="width: 18rem;">
            <a href="/integrations/{{.Title | urlize}}-{{ $channelTitle | urlize }}" title="Integrate {{ .Title }} with {{ $channelTitle }}">
                <img src="{{ .Params.image }}" class="card-img-top" alt="{{ .Params.imageAlt }}">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ title .Title }}</h5>
                <p class="card-text">
                    {{ .Summary }}
                </p>
            </div>
        </div>
    </div>
    {{ end }}
</div> -->

