{{ define "main" }}
<div class="wrapper">
    {{- partial "header.html" . -}}

    <div class="hero hero--size4">
        <div class="container">
            <article class="article">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="article__content article__content--primary">
                            <h1>{{ if .Params.heading }}{{ title .Params.heading }}{{ else }}{{ title .Title }}{{ end }}</h1>
                            
                            <p>
                                Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                            </p>
                        </div><!-- /.article__content -->
                    </div><!-- /.col-md- offset-md- -->
                </div><!-- /.row -->
            </article><!-- /.article -->
        </div><!-- /.container -->
    </div><!-- /.hero -->

    <section class="section section--form">
        <div class="container container--medium">
            <div class="form-contact">
                <form action="https://formspree.io/f/xknppyng" method="post">
                    <div class="form-group">
                        <label for="InputName">Full Name*</label>
                    
                        <input type="text" required placeholder="Full Name*" class="form-control" id="InputName" name="name">
                    </div>
                    
                    <div class="form-group">
                        <label for="InputEmail">Your Email*</label>
                    
                        <input type="email" required class="form-control" id="InputEmail" aria-describedby="emailHelp" name="email" placeholder="Your Email*">
                    </div>
                    
                    <div class="form-group">
                        <label for="InputPhone">Phone</label>
                        <input type="phone" class="form-control" id="InputPhone" placeholder="Phone" name="phone">
                    </div>

                    <div class="form-group">
                        <label for="InputComment">How can we help you?</label>

                        <textarea type="comment" name="comment" class="form-control" id="InputComment" placeholder="How can we help you?"></textarea>
                    </div>

                    <p class="form__hint">
                        Stock2Shop needs the contact information you provide to us to contact you about our products and services. You may unsubscribe from these communications at anytime. For information on how to unsubscribe, as well as our privacy practices and commitment to protecting your privacy, check out our <a href="#">Privacy Policy.</a>
                    </p><!-- /.form__hint -->

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div><!-- /.form -->
        </div><!-- /.container -->
    </section><!-- /.section -->

    {{- partial "footer.html" . -}}
</div><!-- /.wrapper -->
{{ end }}