
<section>
    <!-- list integrations -->
    {{ $type := .Params.listingType }}
    {{ $tags := .Params.listingTags }}
    {{ $template := .Params.listingTemplate }}
    <ul>
        {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
            {{ if eq $type $taxonomyname }}
                {{ range $key, $value := $taxonomy }}
                    {{ range $value.Pages }}
                        {{ $intersects := intersect .Params.tags $tags }}
                        {{ if( or (eq $tags nil) (gt (len $intersects) 0) ) }}
                            {{ if ne $template nil }}
                                {{- partial $template . -}}
                            {{ else }}
                                <li><a href="{{ .Permalink }}"> {{ .LinkTitle }} </a></li>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    </ul>
</section>