<section class="pt-5 pb-5 fullwidth bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pb-5"><img class="img-responsive" src="/uploads/SYSTEM-INTEGRATION.jpg" alt="System Integration"></div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <p class="lead">With Stock2Shop you can:</p>
                <ul class="list-normal">
                    <li><a href="#sync-inventory" title="Sync inventory">Sync inventory</a> with our easy-to-use automated system.</li>
                    <li><a href="#automate-orders" title="Automate orders">Automate orders</a> from the time they’re ordered until they’re delivered.</li>
                    <li><a href="#fulfill-orders" title="Order fulfillment">Fulfill orders</a> efficiently and accurately.</li>
                    <li><a href="#product-data-management" title="Product data management">Manage your product data with ease.
                    </a></li><li><a href="#product-data-management" title="Product data management">Simplify </a><a href="#business-to-business-ordering" title="B2B ordering">business-to-business ordering</a>.</li>
                    <li><a href="#integrate-multiple-marketplaces" title="E-commerce  integration">Integrate multiple e-commerce marketplaces</a> easily.</li>
                    <li><a href="#integrated-application" title="Integrated applications">Develop your own integrated applications</a> seamlessly.</li>
                </ul>
            </div>
        </div>

    </div>
</section>

<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-md-6">
            <h2 id="sync-inventory">Sync inventory</h2>
            <p class="lead">Manage your inventory from your ERP or accounting system, and let Stock2Shop <strong>automatically update</strong> your e-commerce websites (B2B and B2C).</p>
            <ul class="list-normal">
                <li>Sync your data, near real time: inventory quantities, price lists, attribute information and images. Constantly keep your data current and updated.</li>
                <li>Decide which data fields get synced and which don’t. Tailor the updates to suit your business.</li>
                <li>Assign custom pricing for different customers.</li>
                <li>Send different data to different sales channels, seamlessly.</li>
                <li>Decide which products go into each sales channel, and  choose a price list for each sales channel.</li>
                <li>Sell out of one or many warehouses.</li>
                <li>Reduce the risk of human error or delays.</li>
            </ul>
        </div>
        <div class="col-md-6"><img class="img-responsive" src="/uploads/AUTOMATICALLY-SYNC-INVENTORY.jpg" alt="Automatically sync inventory"></div>
    </div>
</div>

<section class="pt-5 pb-5 fullwidth bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pb-5"><img class="img-responsive" src="/uploads/AUTOMATE-ORDERS.png" alt="Automate Orders"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2 id="automate-orders">Automate orders</h2>
                <p class="lead">Complete the ordering process <strong>with ease</strong>. Raise orders into your ERP or accounting system automatically:</p>
                <ul class="list-normal">
                    <li>Into specific customer accounts.</li>
                    <li>Into cash customer accounts.</li>
                    <li>As a custom document type (sales order, invoice, quote).</li>
                    <li>With custom workflows suited to your ordering needs.</li>
                    <li>Save time and improve efficiency in your daily workflow.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2 id="fulfill-orders">Fulfill orders</h2>
                <p class="lead">Fulfill orders <strong>quickly and easily</strong>.</p>
                <ul class="list-normal">
                    <li>Create order fulfillment automatically.</li>
                    <li>Fulfill the order depending on its status (e.g. paid).</li>
                    <li>Customise order fulfillments according to your workflow requirements.</li>
                    <li>Have a totally automated solution: from placing an online order to delivery.</li>
                    <li>Ensure satisfied customers, happy to get their orders fulfilled accurately and quickly.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 id="product-data-management">
                    Product data management
                </h2>
                <p class="lead">Our <strong>simple-to-use online console</strong> lets you manage product data with ease.</p>
                <ul class="list-normal">
                    <li>Simply categorise and describe your data.</li>
                    <li>Bulk update your data, to save time and effort.</li>
                    <li>Make your data marketable and ready to sell on e-commerce websites.</li>
                    <li>Import and export your data easily. Data has never been this easy to manage.</li>
                    <p></p>
                </ul></div>
            <div class="col-md-8"><img src="/uploads/PRODUCT-DATA-MANAGEMENT.jpg" alt="Product data management" class="img-responsive"></div>
        </div>
    </div>
</section>

<section class="pt-5 pb-5 fullwidth bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 id="business-to-business-ordering"><strong>Simplify</strong> business-to-business ordering</h2>
                <p class="lead">Our <a title="B2B Trade Store" href="/b2b-shopping-cart">B2B Trade Store</a> is the <strong>perfect solution</strong> for wholesale and distribution.</p>
                <ul class="list-normal">
                    <li>Suitable for customers and sales reps – save time by letting select customers and reps order directly.</li>
                    <li>Syncs with your ERP or accounting system, so you control everything from one central place.</li>
                    <li>Assign custom pricing, specific price lists or specific / multiple warehouses.</li>
                    <li>Manage your data simply: inventory updated near real time. Export inventory data with ease.</li>
                    <li>Simple user management.</li>
                    <li>Mobile-friendly platform.</li>
                    <li>Built to suit your needs: easy to customize.</li>
                </ul>
            </div>
            <div class="col-md-6"><img class="img-responsive" src="/uploads/ORDER-MANAGEMENT.jpg" alt="Simplify b2b ordering"></div>
        </div>
    </div>
</section>

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><img class="img-responsive" src="/uploads/INTEGRATE-MULTIPLE-MARKETPLACES.png" alt="Integrate multiple marketplaces"></div>
            <div class="col-md-6">
                <h2 id="integrate-multiple-marketplaces">Integrate multiple marketplaces</h2>
                <p class="lead">Make selling on a number of marketplaces, with custom pricing, <strong>seamless</strong>.</p>
                <ul class="list-normal">
                    <li>Allow independent websites and online retailers to read inventory automatically. Reduce admin time and the risk of human error.</li>
                    <li>Automate data syncing with any of our supported marketplaces. Make your business more efficient. </li>
                    <li>Assign custom pricing for the same unit in different marketplaces: tailor your offering. </li>
                    <li>Automate the process of updating stock levels and specific pricing.</li>
                    <li>Easily list and manage all your products and keep track of inventory in one place: your ERP or accounting system.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="pt-5 pb-5 fullwidth bg-light" style="margin-bottom:40px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 id="integrated-application">Develop your own integrated applications</h2>
                <p class="lead">Our API lets you integrate your own applications, <strong>quickly and efficiently</strong>.</p>
                <ul class="list-normal">
                    <li>Easily integrate your ERP or accounting system with your custom application.</li>
                    <li>Well defined and documented <a title="REST API" href="https://app.stock2shop.com/docs/">REST API</a> for <a title="develop with Stock2Shop" href="/developers">developers</a>.</li>
                    <li>Allow applications to read product data and more, directly off our API.</li>
                </ul>
            </div>
            <div class="col-md-6"><img class="img-responsive" src="/uploads/DEVELOP-INTEGRATED-APPLICATIONS.png" alt="Develop your own integrated applications"></div>
        </div>
    </div>
</section>