<!--<aside class="col-md-3" id="wikiMenu">-->
<!--    <ul>-->
<!--        <li data-toggle="collapse" data-target="#sub1" class="nav-item" aria-expanded="false" aria-controls="#sub1">-->
<!--            <a class="nav-link p-0" href="">-->
<!--                <span>Chapter 1</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <div class="collapse" id="sub1">-->
<!--            <ul class="nav flex-column sub-menu">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link p-0" href="">Chapter 1.1</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <li data-toggle="collapse" data-target="#sub2" class="nav-item" aria-expanded="false" aria-controls="#sub2">-->
<!--            <a class="nav-link p-0" href="">-->
<!--                <span>Chapter 2</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <div class="collapse" id="sub2">-->
<!--            <ul class="nav flex-column sub-menu">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link p-0" href="">Chapter 2.1</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </ul>-->
<!--</aside>-->

<p>
    <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Link with href
    </a>
</p>

<div class="collapse" id="collapseExample">
    <div>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
</div>

<br><br>

<aside class="col-md-3">
    <ul>
        <li data-toggle="collapse" href=".sub1" aria-expanded="false" aria-controls="sub1">Chapter 1
            <ul class="collapse sub1">
                <li>Chapter 1.1</li>
            </ul>
            <ul class="collapse sub1">
                <li>Chapter 1.2</li>
            </ul>
        </li>
        <li data-toggle="collapse" href=".sub2" aria-expanded="false" aria-controls="sub2">Chapter 2
            <ul class="collapse sub2">
                <li>Chapter 2.1</li>
            </ul>
            <ul class="collapse sub2">
                <li>Chapter 2.2</li>
            </ul>
        </li>
    </ul>
</aside>