<div class="row">
    <div class="card mb-3 col-md-6 border-0">
        <div class="row no-gutters">
            <div class="col-md-2 pt-3">
                <img style="max-width:100px" src="/uploads/icon-placeholder-grey.png" class="card-img" alt="...">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">User Docs</h5>
                    <p class="card-text">All the concepts and information you need to start integrating the Stock2Shop system.</p>
                    <button class="btn btn-secondary" data-toggle="collapse" href=".sub1" aria-expanded="false" aria-controls="sub1">Choose your platform</button>
                    <ul class="collapse sub1 pt-3">
                        <li><a href="/user-docs/shopify/">Shopify</a></li>
                        <li><a href="/user-docs/database">Database</a></li>
                        <li><a href="/user-docs/dolfin">Dolfin</a></li>
                        <li><a href="/user-docs/sage-business-cloud-accounting">Sage Business Cloud Accounting</a></li>
                        <li><a href="/user-docs/iq-retail">iQ-retail</a></li>
                        <li><a href="/user-docs/isync">iSync</a></li>
                        <li><a href="/user-docs/magento">Magento</a></li>
                        <li><a href="/user-docs/magento-2">Magento-2</a></li>
                        <li><a href="/user-docs/manage-users">Manage-users</a></li>
                        <li><a href="/user-docs/omni-accounts">Omni-accounts</a></li>
                        <li><a href="/user-docs/parcelninja">ParcelNinja</a></li>
                        <li><a href="/user-docs/sage-business-cloud-financials">Sage Business Cloud Financials</a></li>
                        <li><a href="/user-docs/sage-50cloud-pastel-xpress-installation">Sage 50cloud Pastel Xpress</a></li>
                        <li><a href="/user-docs/sage-300cloud">Sage-300cloud</a></li>
                        <li><a href="/user-docs/sage-pastel-evolution">Sage Pastel Evolution</a></li>
                        <li><a href="/user-docs/sage-pastel-partner-installation">Sage Pastel Partner</a></li>
                        <li><a href="/user-docs/sage-x3">Sage-X3</a></li>
                        <li><a href="/user-docs/sap-business-one">Sap Business One</a></li>
                        <li><a href="/user-docs/syspro">Syspro</a></li>
                        <li><a href="/user-docs/woocommerce">WooCommerce</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 col-md-6 border-0">
        <a href="/help-centre">
        <div class="row no-gutters">
            <div class="col-md-2 pt-3">
                <img style="max-width:100px" src="/uploads/icon-placeholder-grey.png" class="card-img" alt="...">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">Help Centre</h5>
                    <p class="card-text">Technical walkthroughs, How To, Frequently asked questions and troubleshooting.</p>
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="card mb-3 col-md-6 border-0">
        <a href="/developers">
        <div class="row no-gutters">
            <div class="col-md-2 pt-3">
                <img style="max-width:100px" src="/uploads/icon-placeholder-grey.png" class="card-img" alt="...">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">Developers</h5>
                    <p class="card-text">Stock2Shop has a well defined API that allows you to simply integrate with your inventory system and your various sales channels.</p>
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="card mb-3 col-md-6 border-0">
        <a href="/articles">
        <div class="row no-gutters">
            <div class="col-md-2 pt-3">
                <img style="max-width:100px" src="/uploads/icon-placeholder-grey.png" class="card-img" alt="...">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">Articles</h5>
                    <p class="card-text">Helpful articles on every aspect of e-commerce: B2B and B2C, product data, supply chain integration, order fulfillment and more.</p>
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="card mb-3 col-md-6 border-0">
        <a href="/case-studies">
        <div class="row no-gutters">
            <div class="col-md-2 pt-3">
                <img style="max-width:100px" src="/uploads/icon-placeholder-grey.png" class="card-img" alt="...">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">Success Stories</h5>
                    <p class="card-text">Find out how we’ve helped other clients to streamline their business, find solutions and save time. Each business is unique, so we work with our clients to create the workflow that’s best for them.</p>
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="card mb-3 col-md-6 border-0">
        <a href="/uncategorised">
            <div class="row no-gutters">
                <div class="col-md-2 pt-3">
                    <img style="max-width:100px; filter: brightness(135%);" src="/uploads/icon-placeholder-grey.png" class="card-img" alt="...">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">Uncategorised</h5>
                        <p class="card-text">Docs to get filed in new Help Centre structure</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>