<section class="pt-5 pb-5 bg-light fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">
                    Why use Stock2Shop?
                </p>
                <p class="text-justify">
                    We give you the one thing you need most: <strong>more time</strong>. And less headache – you’ll have less
                    admin to deal with, and fewer errors. If you want to increase your revenue by building and
                    growing your business, you need help to free up time. That’s what Stock2Shop is
                    for: think of us as the most efficient employee you’ve ever had.
                </p>
                We understand that each company works differently. That’s why we work with you to create the ideal workflow for your specific needs. We will discuss your needs and help you to build an integrated system that saves you time and makes you money.
                <p></p>
                We offer three solutions:
                <p></p>
                <ul class="list-normal">
                    <li><a href="#system-integration" title="System integration">System integration</a></li>
                    <li><a href="#b2b-trade-store" title="B2B trade store">B2B trade store.</a></li>
                    <li><a href="#magento-websites" title="Magento websites">Magento websites.</a></li>
                </ul>
            </div>
        </div>
    </div></section>

<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-md-8"><img src="/uploads/SYSTEM-INTEGRATION.jpg" alt="System Integration" class="img-responsive"></div>
        <div class="col-md-4">
            <h2 id="system-integration">
                System Integration
            </h2>
            <p class="text-justify">
                We help you find the <strong>ideal system integration</strong>. We understand your supply chain needs, figure out where things need to be automated, and advise you how to run the best possible system, with minimum disruption, at minimum cost.
            </p>
            <p class="text-justify">
                No two businesses are alike, so we work with you to find the perfect solution for your business. And we <strong>support you throughout the process</strong>: available on phone or email to assist with any queries. We set up the processes and then empower you to run it yourself.
            </p>
            <a href="/system-integrations" title="E-commerce Integration">Find out more about our system integration.</a>
        </div>
    </div>
</div>

<section class="pt-5 pb-5 bg-light fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 id="b2b-trade-store">
                    B2B Trade Store
                </h2>
                <p class="text-justify">
                    Our B2B trade store is a private portal for your key clients: custom-built with custom pricing and the ability for customers and sales reps to see up-to-date inventory and order directly into your ERP or accounting system. This mobile-friendly platform is the perfect solution for wholesale and distribution, and can be fully customised to suit your needs. If you need more, we can always build you a totally custom Magento B2B store.
                </p>
                <a href="/b2b-shopping-cart" title="B2B trade store">Find out more about our B2B trade store.</a>
            </div>
            <div class="col-md-8"><img src="/uploads/WHOLESALE-AND-DISTRIBUTION-ORDERING.jpg" alt="Wholesale and distribution ordering" class="img-responsive"></div>
        </div>
    </div>
</section>

<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-md-12">
            <h2 id="magento-websites">
                Magento e-commerce websites
            </h2>
            <p class="text-justify">
                Opening an online shop doesn’t have to be difficult – or complicated. Let us build you a Magento website that’s perfect for your unique e-commerce needs. Many of the world’s biggest brands trust Magento to power their e-commerce engines, because it’s powerful, stable and open source. We’ll help you open your Magento online shop quickly and efficiently.
            </p>
            <p><a href="/solutions/magento" title="Magento solutions">Find out more about Magento websites.</a></p>
        </div>
    </div>
</div>

<section class="bg-danger pt-5 pb-5 fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4 class="text-light">Want to find out exactly how Stock2Shop can make your business more efficient and streamlined?</h4>
            </div>
            <div class="col-md-4">
                <a class="float-right button btn btn-lg btn-light" title="Contact Stock2Shop" href="/contact-us">Contact us</a>
            </div>
        </div>
    </div>
</section>