/* body */

h2 {
    margin-bottom: 1.5rem !important;
}
img {
    max-width: 100%;
}
th, td {
    border: 1px solid grey;
}
hr {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
aside > ul.nav ul {
    list-style: none;
    padding-left: 7px;
}
aside .nav-link {
    padding: 0px;
}
#TableOfContents > ul {
    list-style: none;
    padding: 0;
}

ul#sectionTOC {
    padding: 0px;
    ul,li {
        list-style: none;
        padding-left: 7px;
    }
}


/* Header */

#preHeader {
    background: #333;
}
.navbar-brand {
    color: #007bff !important;
}
.navbar-expand-md {
    background: #f3f1f1;
}
header#solutions {
    background: #e93e34;
}

.fullwidth {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

/* Articles */

#articles .card-img-top {
    height: 250px;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}

/* Docside */

aside .active > a {
    color: red;
    span {
        color: red;
    }
}

/* Platform pages */

#platform > img {
    width: 200px;
}

//Can be set in shortcode as well
#platform .img-thumbnail {
    width: 100px;
}

//#TableOfContents ul ul {
//    display:none;
//}

/* Articles */

figcaption {
    text-align: center;
    p {
        font-size: 10px;
    }
}

footer {
    background: #f3f1f1;
}
