/* BODY */

h2 {
    margin-bottom: 1.5rem !important;
}

img {
    max-width: 100%;
}

th, td {
    border: 1px solid grey;
}

aside .nav-link {
    padding: 0px;
}
.fullwidth {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

/* HEADER */

#preHeader {
    background: #333;
}
.navbar-brand {
    color: #007bff !important;
}
.navbar-expand-md {
    background: #f3f1f1;
}
header#wiki {
    background: #e93e34;
}

/* CONTENT */

hr {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

/* ARTICLES */

#articles .card-img-top {
    height: 250px;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}

/* DOCSIDE */

aside .active > a > span {
    color: red;
}
aside .active > a {
    color: red;
}

/* PLATFORM PAGES */

#platform img {
    width: 100px;
}

#TableOfContents ul ul {
    display:none;
}

/* Articles */

figcaption {
    text-align: center;
    p {
        font-size: 10px;
    }
}
