/* body */

$color-grey-4: #f3f1f1;
$color-mine-shaft: #333;

h1 {
    margin-bottom: 1rem !important;
}
h2 {
    margin-bottom: 1.5rem !important;
}
img {
    max-width: 100%;
}
th, td {
    border: 1px solid grey;
    padding: 5px;
}
hr {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
aside > ul.nav ul {
    list-style: none;
    padding-left: 7px;
}
aside .nav-link {
    padding: 0px;
}
.open::before {
    content: ' -';
}
.closed::before {
    content: ' +';
}
#helpCentre aside li, #sectionTOC li {
    border-bottom: 1px solid lightgrey;
}
#TableOfContents, ul#sectionTOC {
    > ul {
        list-style: none;
        padding: 0;
    }
    ul ul {
        list-style: none;
        padding-left: 7px;
    }
}
ul#sectionTOC {
    padding: 0px;
    ul,li {
        list-style: none;
        padding-left: 7px;
    }
}

/* Header */

#preHeader {
    background: $color-mine-shaft;
}
.navbar-brand {
    color: #007bff !important;
}
.navbar-expand-md {
    background: $color-grey-4;
}
.fullwidth {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

/* Articles */

#articles .card-img-top {
    height: 250px;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}

/* Docside */

aside .active > a {
    color: red;
    span {
        color: red;
    }
}

/* Platform pages */

#platform > img {
    width: 200px;
}

//Can be set in shortcode as well
#platform .img-thumbnail {
    width: 100px;
}

/* Articles */

figcaption {
    text-align: center;
    p {
        font-size: 10px;
    }
}

footer {
    background: $color-grey-4;
}
