/* BODY */

h2 {
    margin-bottom: 2rem !important;
}
blockquote > p {
    margin: 0;
}

/* HEADER */

header {
    background: #333;
    line-height: 40px;
    color: darkgrey;
}
header#wiki {
    background: #e93e34;
}

/* CONTENT */

hr {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

/* SIDEBAR */

#docSide {
    flex: 0 0 25%;
}
#TableOfContents {
    ul > li > ul {
        display: none;
    }
    li {
        list-style: none !important;
    }
    ul {
        padding-left: 0px;
    }
    a {
        color:#333 !important;
    }
}