<!--{{ define "main" }}-->
<!--<div class="row">-->
<!--    <aside class="col-md-3" id="docside">-->
<!--        <ul class="nav flex-column">-->
<!--            {{ $currentPage := . }}-->
<!--            {{ range .Site.Menus.docside }}-->
<!--            {{ if .HasChildren }}-->
<!--            <li class='nav-item {{ if $currentPage.IsMenuCurrent "docside" . }}active{{ end }}'>-->
<!--                <a class="nav-link" href="{{ .URL }}">-->
<!--                    {{ .Pre }}-->
<!--                    <span>{{ .Name }}</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <ul class="sub-menu">-->
<!--                {{ range .Children }}-->
<!--                <li class='nav-item {{ if $currentPage.IsMenuCurrent "docside" . }}active{{ end }}'>-->
<!--                    <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>-->
<!--                </li>-->
<!--                {{ end }}-->
<!--            </ul>-->
<!--            {{ else }}-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="{{ .URL }}">-->
<!--                    {{ .Pre }}-->
<!--                    <span>{{ title .Name }}</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            {{ end }}-->
<!--            {{ end }}-->
<!--        </ul>-->
<!--    </aside>-->
<!--    <div class="col-md-9">-->
<!--        &lt;!&ndash; TODO: Find alternative pagination to .PrevInSection .NextInSection deriving order from publish date &ndash;&gt;-->
<!--        <h1>{{ if .Params.heading }}{{ title .Params.heading }}{{ else }}{{ title .Title }}{{ end }}</h1>-->
<!--        {{ if .Params.Lead }}-->
<!--        <p class="lead">{{ .Params.Lead }}</p>-->
<!--        {{ end }}-->
<!--        {{ if .Params.Toc }}-->
<!--        <h4 id="toc">Contents</h4>-->
<!--        {{ .TableOfContents }}-->
<!--        {{ end }}-->
<!--        <hr>-->
<!--        {{ .Content }}-->
<!--    </div>-->
<!--</div>-->
<!--{{ end }}-->